@import 'main';


.portfolio-desc{
    padding-bottom: 60px;
    .col-sm-3{
        div{
            border-top: 1px solid #bfbfbf;
            padding: 8px 0;
        }
        div:last-child{
            border-bottom: 1px solid #bfbfbf;
            margin-bottom: 20px;
        }
        h3,p{display: inline-block; margin: 0;}
        h3{
            width: 100px;
        }
    }
}