/*
Author: Anthony Ngene
Primary Color(blue): #3498db
Secondary Color(orange): #d35400
*/

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
img{
  max-width: 100%;
  box-sizing: border-box;
}
.clear{clear: both}
.drag-enter{
  border: 1px solid #333;
}

/*
Alert box
*/
.alert{
  text-align: center;
  margin-bottom: -15px;
  display: none;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
  border: 1px solid #333;
  border-radius: 10px;
}
.alert h3{
  display: inline-block;
  position: relative;
  background-color: #3498db;
  color: #fff;
  margin-top: 5px;
  padding: 3px 8px;
  border-radius: 5px;
}
#alert-rm h3{background-color: #d35400;}

/*
Navigation
*/
header{
  width: 100%;
  position: relative;
  background-color: #ecf0f1;
  text-align: center;
  box-sizing: border-box;
}
header h1{
  font-size: 25px;
  padding: 15px 0 10px 0;
  font-weight: 600;
}
header a{
  font-size: 20px;
  padding: 0; margin: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
header li{
  display: inline-block;
  padding: 5px 20px 15px 20px;
}
nav a{
  text-decoration: none;
  color: #333;
  font-weight: 300;
}
nav a:hover {
  text-decoration: none;
  color: #a7a7a7;
}

hr{
  border: none;
  border-top: 1px solid #6a6a6a;
}
.active{
  border-bottom: 2px solid #d35400;
}

/*
Shop
*/
.wrapper{
  display: block;
  position: relative;
}
.shop{
  width: 56%;
  float: left;
  box-sizing: border-box;
  margin-left: 1%;
  padding-top: 20px;
}
.shop .shop-item{
  text-align: center;
  padding: 5px;
  border: 1px solid #8e8e8e;
  border-radius: 10px;
  background-color: #ecf0f1;
}
.shop img{
  max-width: 100%;
  border-radius: 10px;
}
.shop h2{
  color: #d35400;
}
.category{
  display: none;
}
#bags{
  display: block;
}

/*
Cart
*/
.cart{
  width: 40%;
  position: relative;
  float: right;
  margin: 15px 1%;
  border-radius: 10px;
  background-color: #ecf0f1;
  overflow: auto;
  padding-bottom: 25px;
}
#basket{
  min-height: 300px;
  width: 100%;
  background-image: url(../img/cart.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.total-price{
  text-align: right;
}
.total-price h3{
  color: #d35400;
}
.cart-header{
  text-align: center;
  padding: 6px 0;
  background-color: #3498db;
  border-radius: 10px;
  color: #fff;
}
.shop-item{
  position: relative;
  margin-bottom: 10px;
}
.cart .shop-item{
  padding: 10px 5px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #333;
}
.cart img{
  border-radius: 10px;
}
.cart .shop-item h2{display: inline-block;}
.cart .shop-item h3{
  font-size: 14px; 
  text-align: center;
}
.cart .shop-item h3:after{
  content: '';
  display: block;
  clear: both;
}
.cart .num{
  float: right;
  display: inline-block;
  padding: 1px 8px;
  border: 2px solid #d35400;
  border-radius: 10px;
  font-size: 20px;
  color: #d35400;
}
.checkout{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 17px;
}
.checkout:link, .checkout:visited {
  display: block;
  padding: 5px;
  text-align: center;
  background-color: #d35400;
  color: #fff;
  text-decoration: none;
}
.checkout:hover, .checkout:active{
  background-color: #c44e00;
}
.summary{
  padding: 15px;
  background-color: #bdc3c7;
  border-radius: 10px;

}
.summary h2{
  text-align: center;
}

.top-right{
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 500;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid transparent;
}
.top-right:hover{
  border: 2px solid #fff;
}
.add-to-cart{
  background-color: #3498db;
}
.rm-from-cart{
  background-color: #d35400;
  right: 4px;
  padding: 5px 10px;
}
.cart .add-to-cart{display: none;}
.shop .rm-from-cart{display: none;}

/*
Footer
*/
footer{
  padding: 30px 0;
  background-color: #3498db;
  text-align: center;
}
footer p{
  font-size: 20px;
  color: #fff;
}

/*
Order Form
*/
.order-form{
  padding: 60px 15px;
  margin: 0 auto;
  max-width: 800px;
}
.order-form h2{
  text-align: center;
}
.order-form h3{
  margin-bottom: 15px;
}
.group {
  padding: 15px 15px;
  font-size: 18px;
}
.group input{
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  padding: 5px 15px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
}
.btn:link, .btn:visited{
  padding: 10px;
  border-radius: 5px;
  background-color: #d35400;
  color: #fff;
  text-decoration: none;
}
.btn:hover, .btn:active{
  background-color: #c44e00;
}

/*
Grids and Media Queries
*/
.col-50{
  width: 45%;
  margin-left: 1%;
  float: left;
}
@media (max-width: 767px){
  header{
    position: fixed;
    top: 0;
    z-index: 999;
  }
  body{padding-top: 90px;}
  .cart{
    width: 100%;
  }
  .shop{width: 100%;}
  .col-50{
    width: 100%;
  }
  .shop-item{width: 94%;}
  .cart .shop-item{width: 45%;}
}
@media (max-width: 520px){
  header a{font-size: 16px;}
  header li{
    padding: 5px;
  }
}
@media (min-width: 768px){
  #basket{
    min-height: 380px;
  }
}

