/*
OVER 50 Website by MontaroWeb
color: #F16DA4;
*/

/*==========================*/
/*    GENERAL     */
/*==========================*/

body{
    font-family: 'Roboto' sans-serif;
    color: #111;
    position: relative;
    overflow-x: hidden;
    font-size: 18px;
    color: #656565;
}
strong{
    font-weight: 700;   
}
.breadcrumbs,
.page_headers{
    display: none !important;
}
#extrapage{
    padding: 0 !important;
    margin: 0 !important;
}
a:active,
a:visited,
a:link,
a:hover{
    text-decoration: none !important;
}
h2{font-size: 25px !important}
h3{
    font-size: 22px !important;
}
.clear-both{clear: both}
#top-search {
    padding: 20px 0;
}
.title-lead{font-weight: 100 !important;
    font-size: 28px;
}
section {
    padding: 0 0 !important;
}
p,
.container,
section p{
    font-size: 18px;
}
section a:link,
section a:active,
section a:visited {color: #F16DA4;}

section a:hover {color: #656565 !important;}
.display-none{display: none}
.page-heading h2 {
    margin: 0;
}
.page-heading{
    padding: 0 0 20px 0;
/*    text-align: center;*/
    font-family: 'Itim';
    border-bottom: 1px dashed #bebebe;
}
.sub-header{
    padding-top: 20px !important;
}
.underline{text-decoration: underline}
.orange-text{color: #F16DA4}
/*   Bootstrap 5 grids */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
.pre{
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 1.42857143;
        color: #333;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20% ;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20% !important;
        float: left !important;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}










                /*========================================*/
                /*    Mobile Media Queries   */
                /*========================================*/
@media (max-width: 767px){
    .carousel-text h1{font-size: 200% !important}
    .carousel-text h3{font-size: 120% !important}
    .join-us-lead{font-size: 20px}
    .text-orange{font-size: 24px}
    h3{font-size: 20px !important}
    .container,
    p,
    .section,
    section p{font-size: 16px}
    h2{font-size: 25px}
    .great-reasons ul{font-size: 18px !important}   
}
@media(max-width: 430px){
    .carousel-text h1{font-size: 120% !important}
    .carousel-text h3{font-size: 90% !important}
    div.owl-next,
    div.owl-prev{opacity: 0}
    .link-menu-ul{font-size: 12px !important}
    .kidsfair{
        padding: 20px 10px !important;
    }
}



/*========================================*/
/*    HOME GALLERY   */
/*========================================*/
.home-gallery-img img{
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.home-gallery-img img:hover {
    opacity: 0.8;
}



/*========================================*/
/*    HOME DESCRIPTION   */
/*========================================*/
.great-reasons ul{
    list-style-image: url("../images/img-middle.jpg");
/*    font-size: 18px;*/
}
#home-description section{
    padding-top: 0;
}


/*========================================*/
/*    HOME-FOOTER  */
/*========================================*/
.home-footer{
    border-top: 1px dashed #bebebe;
}
.kidsfair{
    padding: 20px 50px;
}

.btn-modified{
    background-color: #F16DA4 !important;
    color: #fff  !important;
}
.mail-subscribe{
    padding-top: 20px;
}
.subscribe-div .input-group {
    margin-bottom: 30px;
}

/*========================================*/

/*    BEAUTY QUEENS - PAGE  */

/*========================================*/

.beauty-queens h3 {padding-bottom: 20px;}
.beauty-queens figure{padding-bottom: 20px;}
.figure-queen img{
    padding: 10px;
    border: 1px solid #656565;
    border-radius: 10px;
}

/*========================================*/

/*    SPEAKERS - PAGE  */

/*========================================*/

.page-heading-photos{
    padding: 20px 0 !important;
    box-sizing: border-box;
}
.page-heading-photos figure img{
    width: 100% !important;
}
.page-heading-photos figure {
    padding: 10px !important;
    border: 1px solid #bebebe !important;
    border-radius: 5px !important;
}
.page-heading-photos-first{
    border-bottom: 1px dashed #bebebe !important;
    margin-bottom: 20px;
}
.page-heading-photos-last{
    border-top: 1px dashed #bebebe !important;
}
#speakers table {
    font-weight: 700;
}

/*========================================*/
/*    SINGLES - PAGE  */
/*========================================*/
.singles-img{
    width: 800px;
    margin: 0 auto;
}
@media (max-width: 900px){
    .singles-img{width: 100%} 
}

/*========================================*/
/*    EXHIBITORS - PAGE  */
/*========================================*/
#exhibitors a{
    color: #656565 !important;
}
#exhibitors a:hover{
    color: #F16DA4 !important;
}

/*========================================*/
/*    DRAFT MAP - PAGE  */
/*========================================*/
.draft-map-img{
    width: 75%;
}
@media (max-width: 970px){
    .draft-map-img{width: 100%}
}

/*========================================*/
/*    GALLERY - PAGE  */
/*========================================*/
.gallery-carousel-div img{width: 100%}
.gallery-carousel-div {
    width: 60%;
    margin: 0 auto;
}
@media (max-width: 900px){
    .gallery-carousel-div {width: 100%}
}


/*========================================*/
/*    NAV BARS  */
/*========================================*/
.navbar-fixed-top{display: none;}
@media (max-width: 767px){
    
    .navbar-fixed-top{
        display: block;
        overflow: auto;
    }
    body{padding-top: 50px;}
    #catigory-menu,
    .middle-menu,
    .link-menu {display: none;}
    
    #top-search{
        text-align: center;
    }
    .cart{text-align: center}
    .search{text-align: center}
    .search form{
        display: inline-block;
    }
}

@media (max-width: 970px){
    .cart{font-size: 88%;}
}
@media (max-height: 345px){
    .navbar-collapse{max-height: 220px !important}
}

#dropdown-menu1 a:link,
#dropdown-menu1 a:visited,
#dropdown-menu2 a:link,
#dropdown-menu2 a:visited
{
    display: block;
    padding: 2px 30px !important;
    color: #656565 !important;
    margin: 0 !important;
    font-size: 15px !important;
}
#dropdown-menu1 a:hover,
#dropdown-menu1 a:active,
#dropdown-menu2 a:hover,
#dropdown-menu2 a:active
{
    color: #F16DA4 !important;
}

.dont-break-out {

}










/*For main.css*/
a.btn-orange{color: #fff !important}
/*===========================================
OVER50 Styles
=============================================*/



.orange-background .radio-option{
    background-color: #ee753c !important;
    color: #fff !important;
}

.product-item .price,
.product-item span {font-size: 18px !important}

.product-item .name a {font-size: 20px !important}

{
    border: 1px solid #bebebe !important;
    font-size: 18px !important;
}

div.action input[type="button"] {
    width: 100px;
    background: url(http://tempo50-com.3dcartstores.com/images/category_template_btn.png) no-repeat center;
    margin: 0 auto;
}
div.action input[type="button"]:hover {border: 1px solid #bebebe}
div#qv_buttons{opacity: 0; width: 1px; height: 1px}

span.label{
    color: #656565 !important;
    white-space: normal !important;
    font-size: 100% !important;
    font-weight: 700 !important;
    text-align: left !important;
    float: none !important;
    display: inline !important;
    padding: 0 !important;
}
span.required{margin-right: 1px !important}
div#rTabs li{list-style: none;}

div.sort-by{display: none !important}
div.shipQuote{display: none !important}

/*make item box smaller */
.product-item{
    display: inline-block !important;
    margin: 0 auto !important;
    padding: 0 10px !important;
    margin-bottom: 10px !important;
    text-align: center !important;
    border: 1px solid #bebebe;
    width: 280px !important;
    min-height: 338px !important;
}
.product-item .status {margin: 0 !important}
.product-item .name {margin-bottom: 0 !important}
div.stars{display: none !important}

@media(max-width: 400px){
    .recalculate{
        font-size: 13px !important;
    }
}

.chkComments textarea{
    width: 223px !important;
}
.product-responsive{
    display: inline-block !important;
    text-align: center !important;
    margin: 0 auto !important;
}

.purple-text{color: rgb(128, 0, 128);}
.purple-text1{color: rgb(128, 0, 128);}
.form-z-index{z-index: 990}
div.action input {color: transparent !important}

.subscribe-facebook p{
    display: inline-block;
}


.display_none{
    display: none !important;
}

.cvv2-edited{
    float: right !important;
}
.ccv-to-right{
    display: block;
    float: left;
    width: 185px;
}
.r-tabs-nav{
    display: block !important;
}
.shoppingCartTotal{margin: 0 !important}
div.opt-field label{
    font-weight: 400 !important;
}
div.shoppingCartTotal div.row{
    padding-right: 15px !important;
}
div.chkComments{
    padding-bottom: 0 !important;
}
@media (min-width: 767px){
    div#spanCheckout button.btn{
        position: relative;
        top: -50px
    }
    div#spanCheckout{
        height: 1px
    }
}

div.logo slash img{
    height: 150px;
    width: auto;
}