/*
All Kids Website,
Developer: Anthony Ngene
URL: http://montaroweb.com
*/

/*==========================*/
/*    GENERAL     */
/*==========================*/

body{
    font-family: 'Roboto' sans-serif;
    color: #111;
    position: relative;
    overflow-x: hidden;
    font-size: 18px;
    color: #656565;
}
strong{
    font-weight: 700;   
}
.breadcrumbs,
.page_headers{
    display: none !important;
}
#extrapage{
    padding: 0 !important;
    margin: 0 !important;
}
a:active,
a:visited,
a:link,
a:hover{
    text-decoration: none !important;
}
h2{font-size: 25px !important}
h3{
    font-size: 22px !important;
}
.clear-both{clear: both}
#top-search {
    padding: 20px 0;
}
.title-lead{font-weight: 100 !important;
    font-size: 28px;
}
section {
    padding: 0 0 !important;
}
p,
.container,
section p{
    font-size: 18px;
}
section a:link,
section a:active,
section a:visited {color: #F16DA4;}

section a:hover {color: #656565 !important;}
.display-none{display: none}
.page-heading h2 {
    margin: 0;
}
.page-heading{
    padding: 0 0 20px 0;
/*    text-align: center;*/
    font-family: 'Itim';
    border-bottom: 1px dashed #bebebe;
}
.sub-header{
    padding-top: 20px !important;
}
.underline{text-decoration: underline}
.orange-text{color: #F16DA4}
/*   Bootstrap 5 grids */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}


@media (min-width: 768px) {
    .col-sm-15 {
        width: 20% ;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20% !important;
        float: left !important;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}










                /*========================================*/
                /*    Mobile Media Queries   */
                /*========================================*/
@media (max-width: 767px){
    .carousel-text h1{font-size: 200% !important}
    .carousel-text h3{font-size: 120% !important}
    .join-us-lead{font-size: 20px}
    .text-orange{font-size: 24px}
    h3{font-size: 20px !important}
    .container,
    p,
    .section,
    section p{font-size: 16px}
    h2{font-size: 25px}
    .great-reasons ul{font-size: 18px !important}   
}
@media(max-width: 430px){
    .carousel-text h1{font-size: 120% !important}
    .carousel-text h3{font-size: 90% !important}
    div.owl-next,
    div.owl-prev{opacity: 0}
    .link-menu-ul{font-size: 12px !important}
    .kidsfair{
        padding: 20px 10px !important;
    }
}



/*========================================*/
/*    HOME GALLERY   */
/*========================================*/
.home-gallery-img img{
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.home-gallery-img img:hover {
    opacity: 0.8;
}



/*========================================*/
/*    HOME DESCRIPTION   */
/*========================================*/
.great-reasons ul{
    list-style-image: url("../images/round-star.png");
/*    font-size: 18px;*/
}
#home-description section{
    padding-top: 0;
}





/*========================================*/

/*    SPEAKERS - PAGE  */

/*========================================*/

.page-heading-photos{
    padding: 20px 0 !important;
    box-sizing: border-box;
}
.page-heading-photos figure img{
    width: 100% !important;
}
.page-heading-photos figure {
    padding: 10px !important;
    border: 1px solid #bebebe !important;
    border-radius: 5px !important;
}
.page-heading-photos-first{
    border-bottom: 1px dashed #bebebe !important;
    margin-bottom: 20px;
}
.page-heading-photos-last{
    border-top: 1px dashed #bebebe !important;
}
#speakers table {
    font-weight: 700;
}

/*========================================*/
/*    SINGLES - PAGE  */
/*========================================*/
.singles-img{
    width: 800px;
    margin: 0 auto;
}
@media (max-width: 900px){
    .singles-img{width: 100%} 
}

/*========================================*/
/*    EXHIBITORS - PAGE  */
/*========================================*/
#exhibitors a{
    color: #656565 !important;
}
#exhibitors a:hover{
    color: #F16DA4 !important;
}

/*========================================*/
/*    DRAFT MAP - PAGE  */
/*========================================*/
.draft-map-img{
    width: 75%;
}
@media (max-width: 970px){
    .draft-map-img{width: 100%}
}

/*========================================*/
/*    GALLERY - PAGE  */
/*========================================*/
.gallery-carousel-div img{width: 100%}
.gallery-carousel-div {
    width: 60%;
    margin: 0 auto;
}
@media (max-width: 900px){
    .gallery-carousel-div {width: 100%}
}


/*========================================*/
/*    NAV BARS  */
/*========================================*/
.navbar-fixed-top{display: none;}
@media (max-width: 767px){
    
    .navbar-fixed-top{
        display: block;
        overflow: auto;
    }
    body{padding-top: 50px !important;}
    #catigory-menu,
    .middle-menu,
    .link-menu {display: none;}
    
    #top-search{
        text-align: center;
    }
    .cart{text-align: center}
    .search{text-align: center}
    .search form{
        display: inline-block;
    }
}

@media (max-width: 970px){
    .cart{font-size: 88%;}
}
@media (max-height: 345px){
    .navbar-collapse{max-height: 220px !important}
}

#dropdown-menu1 a:link,
#dropdown-menu1 a:visited,
#dropdown-menu2 a:link,
#dropdown-menu2 a:visited
{
    display: block;
    padding: 2px 30px !important;
    color: #656565 !important;
    margin: 0 !important;
    font-size: 15px !important;
}
#dropdown-menu1 a:hover,
#dropdown-menu1 a:active,
#dropdown-menu2 a:hover,
#dropdown-menu2 a:active
{
    color: #F16DA4 !important;
}

.dont-break-out {

}










/*For main.css*/
a.btn-orange{color: #fff !important}
/*===========================================
AllKids Styles
=============================================*/



.orange-background .radio-option{
    background-color: #F16DA4 !important;
    color: #fff !important;
}

.product-item .price,
.product-item span {font-size: 18px !important}

.product-item .name a {font-size: 20px !important}

{
    border: 1px solid #bebebe !important;
    font-size: 18px !important;
}

div.action input[type="button"] {
    width: 100px;
    background: url(http://tempo50-com.3dcartstores.com/images/category_template_btn.png) no-repeat center;
    margin: 0 auto;
}
div.action input[type="button"]:hover {border: 1px solid #bebebe}
div#qv_buttons{opacity: 0; width: 1px; height: 1px}

span.label{
    color: #656565 !important;
    white-space: normal !important;
    font-size: 100% !important;
    font-weight: 700 !important;
    text-align: left !important;
    float: none !important;
    display: inline !important;
    padding: 0 !important;
}
span.required{margin-right: 1px !important}
div#rTabs li{list-style: none;}

div.sort-by{display: none !important}
div.shipQuote{display: none !important}

/*make item box smaller */
.product-item{
    display: inline-block !important;
    margin: 0 auto !important;
    padding: 0 10px !important;
    margin-bottom: 10px !important;
    text-align: center !important;
    border: 1px solid #bebebe;
    width: 280px !important;
    min-height: 338px !important;
}
.product-item .status {margin: 0 !important}
.product-item .name {margin-bottom: 0 !important}
div.stars{display: none !important}

@media(max-width: 400px){
    .recalculate{
        font-size: 13px !important;
    }
}

.chkComments textarea{
    width: 223px !important;
}
.product-responsive{
    display: inline-block !important;
    text-align: center !important;
    margin: 0 auto !important;
}

.purple-text{color: rgb(128, 0, 128);}
.purple-text1{color: rgb(128, 0, 128);}
.form-z-index{z-index: 990}
div.action input {color: transparent !important}

.subscribe-facebook p{
    display: inline-block;
}


.display_none{
    display: none !important;
}

.cvv2-edited{
    float: right !important;
}
.ccv-to-right{
    display: block;
    float: left;
    width: 185px;
}
.r-tabs-nav{
    display: block !important;
}
.shoppingCartTotal{margin: 0 !important}
div.opt-field label{
    font-weight: 400 !important;
}
div.shoppingCartTotal div.row{
    padding-right: 15px !important;
}
div.chkComments{
    padding-bottom: 0 !important;
}
@media (min-width: 767px){
    div#spanCheckout button.btn{
        position: relative;
        top: -50px
    }
    div#spanCheckout{
/*        height: 1px */
    }
}

div.logo slash img{
    height: 150px;
    width: auto;
}







    /* Justswell-html5 */

/*******************************************************/
/*          STYLES USED THROUGHTOUT THE WEBSITE        */
/*******************************************************/


/*data:: Controls the font style of your content on all the pages.*/
.data {
    text-decoration: none;
    word-spacing: normal;
    font-size: 12px;
}
/*alternative:: Controls the background color of the boxes used throughout the site.*/
.alternative {
    background: #FFF;
}
/*page_headers:: Controls the title of all your pages.*/
.page_headers {
    font-size: 28px;
    font-weight: 800;
    color: #22303a;
}
/*titles:: Controls the Tiles  of sections within pages on the site such as (Specials, Feature Items, Items, Related Items).*/ 
.titles {
    font-size: 18px;
    color: #383733;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 9px;
    border-bottom: 1px solid #383733;
    display: block;
}
/*price:: Controls the way the product's final price display throughout the site.*/ 
.price {
    font-weight: 700;
    letter-spacing: 0;
}
/*error:: Controls the error messages*/ 
.error {
    font-size: 12px;
    font-weight: 400;
    color: #e10e04;
    text-decoration: none;
}
/*borders:: Controls the color of the line dividers used throughout the site.*/ 
.borders {
    color: #585C5F;
    border: 1px solid #CCC;
    border-style: none none solid;
}
/*borders2:: Controls the color of the solid line dividers used throughout the site.*/ 
.borders2 {
    border: 1px solid #CCC;
    border-style: none none solid;
}
/*A:: Controls the way the all Links without an associated style display before a user clicks or mouses over them.*/ 	 
A {
    color: #000;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
}
/*A:hover:: When a user passes  their mouse over them.*/ 	 	
A:hover {
    color: #929497;
}
/*A:visited:: After a user has visited that section.*/ 
A:visited {
    color: #000;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
}
/*A:visited:hover:: When a user hovers over a section they have visited.*/ 	 
A:visited:hover {
    color: #929497;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON VIEW CART AND CHECKOUT PAGES      */
/*******************************************************************************************************/

/*checkout-headers:: Controls the titles of the sections on the checkout pages (Billing Information, Shipping Information etc)*/
.checkout-headers {
    font-size: 14px;
    color: #22303a;
    font-weight: 700;
}
/*steps:: Controls the way the steps on the checkout pages display.*/
.steps {
    font-size: 16px;
    font-weight: 700;
    color: #CCC;
}
/*steps_on:: Controls the way the step the customer is currently on displays on the checkout pages.*/
.steps_on {
    font-size: 16px;
    font-weight: 700;
    color: #22303a;
}
/*titles2:: Controls the titles on the view cart page*/ 
.titles2 {
    font-size: 12px;
    font-weight: 700;
    background-color: #EEE;
    color: #22303a;
    padding:4px;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON PRODUCT PAGES      */
/*******************************************************************************************************/

/*options-titles:: Controls the way the option titles display on the product page.*/
.options-titles {
    font-size: 12px;
    font-weight: 700;
    color: #585C5F;
    border: 1px solid #CCC;
    border-style: none none solid;
}
/*item:: Controls the item description and item details text.*/ 
.item {
    /*    font-size: 12px;*/
    color: #383733;
    font-weight: 400;
}
/*itemTitle:: Controls the name of the Product.*/ 
.item-title {
    font-size: 22px;
    color: #22303a;
    font-weight:bold;
}
/*price-info:: Controls the way the sub-prices display on the product page, the final price is controlled by the style called "price".*/ 
.price-info {
    font-size: 12px;
    font-weight: 400;
    color: #585C5F;
}
/*small-txt:: Controls the way the item id displays.*/ 
.small-txt {
    color: #afafae;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0;
    font-size: 10px;
    vertical-align:bottom;
}
/*availability-txt:: Controls the way the Availability of the product displays i.e. 'In Stock', 'Back Order'.*/ 
.availability-txt {
    color: #22303a;
}
/*reward-title:: Controls the title of the Reward Points section.*/ 
.reward-title {
    color: #22303a;
    text-decoration: none;
    word-spacing: normal;
    text-align: left;
    letter-spacing: 7px;
    line-height: 10px;
    font-size: 16px;
    font-style:italic;
}
/**********************************************************/
/*      FORM FIELDS & BUTTONS THROUGHOUT THE WEBSITE      */
/**********************************************************/

/*btn:: Controls the buttons, (ONLY if it is not using and image).*/ 
.btn {
    border: none;
    background: #22303a;
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 9px 14px;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
/*btn_over:: Controls the buttons when a user mouses over them, (ONLY if it is not using and image).*/ 
.btn_over {
    border: none;
    background: #c9dae4;
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 9px 14px;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
/*button:hover:: Controls the button tag when a user mouses over them, (ONLY if it is not using and image).*/ 
button:hover {
    background: #c9dae4;
    cursor: pointer;
}
/*txtBoxStyle:: Controls the text and style of the Text Boxes.*/  	
.txtBoxStyle {
    border: 1px solid #b7b4ac;
    background: #fefefe;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 8px 12px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
/*txtAreaStyle:: Controls the text and style of the Text Areas.*/ 	
.txtAreaStyle {
    border: 1px solid #b7b4ac;
    background: #fefefe;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 8px 12px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
/*txtSearch:: Controls the style of the Search Box, if different from txtBoxStyle.*/
.txtBoxSearch {
    height: 20px;
    color: #000;
    font-size: 12px;
    border: none;
    padding: 3px 0 0 0;
    margin: 0;
}

/********************************************/
/*   STYLES USED ONLY ON THE INVOICE        */
/********************************************/

/*invoice_table:: Controls the background color on your invoices*/ 
.invoice_table {
    background-color: #f9f8f8;
}
/*invoice_title:: Controls the way the title of the invoices look */ 
.invoice_title {
    font-size: 10px;
    font-weight: 700;
    background-color: #cbcaca;
    color: #4f4e4e;
}
/*************************************************************/
/*          LEGACY STYLES: STYLES USED PRIOR TO v3.2         */
/*************************************************************/

/*font1:: Primary Screen Font */ 
.font1 {
    font-size: 12px;
    font-weight: 400;
    color: #383733;
}
/*font2:: Secondary Screen Font */ 
.font2 {
    font-size: 12px;
    font-weight: 400;
    color: #22303a;
}
.font3 {
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
}
.font4 {
    font-size: 12px;
    font-weight: 400;
    color: #c32519;
}
/*top:: Controls the  Color of the top Bar*/		
.top {
    background: none;
}
/*line:: Controls the  Color of the line bellow the top bar*/		
.line {
    background: #FFF;
}


