/*
* Developed by Anthony Ngene (http://montaroweb.com)
*/
/*========================================*/
/*    NAVIGATION SECTION   */
/*========================================*/
#nav_wrap_two {
  background-color: #edd7ba;
  margin-bottom: 10px !important;
}

.fixed_nav_wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* search */
.btn-orange {
  color: #fff;
  background-color: #F16DA4;
  padding: 8px 10px;
  border-radius: 8px;
}

.btn-orange:hover {
  color: #fff;
  background-color: #ef5695;
}

.cart {
  text-align: right;
  padding: 10px 0;
}

.cart a:hover {
  text-decoration: none;
}

.cart .slash {
  color: #656565;
}

.cart .slash:hover {
  color: #F16DA4;
}

.search {
  text-align: right;
  padding: 10px 0;
}

.search .search-btn {
  color: #fff;
  padding: 5px 10px !important;
  border-radius: 8px;
  background: #F16DA4;
  border: 0 !important;
}

.search .search-btn:hover {
  color: #fff;
  background-color: #ef5695;
}

.search .search-input {
  padding: 5px;
  border: 1px solid #656565;
  border-radius: 5px;
  font-size: 15px;
}

/* first nav */
.catigory-menu {
  border-top: 1px dashed #bebebe;
  margin-top: 0px;
  text-align: center;
  padding: 10px 0 0 0;
}

.cat-menu-ul {
  list-style: none;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 22px;
  padding: 0;
}

.cat-menu-ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.cat-menu-ul li:last-child {
  display: none;
}

.middle-menu {
  position: relative;
  padding: 0 8px;
}

.catigory-menu a:link, .catigory-menu a:visited {
  color: #404040;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /*    font-weight: 700 !important;*/
}

.catigory-menu a:hover, .catigory-menu a:active {
  color: #F16DA4;
  text-decoration: none;
}

/* second nav */
.link-menu {
  border-top: 1px dashed #bebebe;
  text-align: center;
  padding: 10px 0 0 0;
}

.link-menu-ul {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px !important;
}

.link-menu-ul li {
  display: inline-block;
  padding: 8px 8px;
  border: 3px solid #1398DD;
  background-color: #ffee04;
  letter-spacing: 1px;
  border-radius: 8px;
  margin-right: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.link-menu-ul li:hover {
  background-color: #fff01e;
}

.link-menu-ul li:hover a {
  color: #F16DA4;
}

.link-menu-ul a:link, .link-menu-ul a:visited {
  color: #656565;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.link-menu-ul a:hover, .link-menu-ul a:active {
  color: #F16DA4;
  text-decoration: none;
}

body {
  background-color: #edd7ba;
}

body .t-container {
  max-width: 960px;
  margin: 0 auto;
}

body .small-text {
  font-size: 12px;
}

#top-search .logo img {
  width: 150px;
}

#top-search .cart a {
  font-size: 16px;
}

.roslyn img {
  width: 100px;
  height: auto;
}

/*========================================*/
/*    FOOTER   */
/*========================================*/
footer {
  padding: 20px 0 0 0;
  margin: 0;
  border-top: 1px dashed #bebebe;
  font-size: 20px;
}

.sponsors {
  margin: 20px 0;
}

.sponsors img {
  border: 1px solid #000;
  border-radius: 10px;
}

.roslyn {
  padding: 0 0 20px 0;
}

.roslyn img {
  margin-left: 10px;
}

.footer-nav {
  border-top: 1px dashed #bebebe;
  border-bottom: 1px dashed #bebebe;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.foot-nav {
  border-right: 1px solid gray;
  letter-spacing: 1px;
}

.foot-nav:last-child {
  border-right: none;
}

.footer-number {
  padding: 20px 0 0 0;
}

.copyright {
  font-size: 18px;
}

.big-phone {
  color: #F16DA4;
  font-size: 30px;
  letter-spacing: 4px;
}

/*========================================*/
/*    HOME - PAGE  */
/*========================================*/
.community-service img {
  margin: 0 5px 20px 0;
  width: 150px;
  height: auto;
}

.mail_radio_wrap {
  position: relative;
  top: -20px;
}

/*Carousel*/
.home-owl-carousel {
  border-bottom: 1px dashed #bebebe;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.carousel-item1, .carousel-item2, .carousel-item3 {
  color: #fff;
}

.carousel-text-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 800;
  background: #000;
  opacity: 0.3;
}

div.owl-next:hover, div.owl-prev:hover {
  background-color: #F16DA4 !important;
}

div.owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 999;
  background-color: #bebebe;
  color: #fff;
  display: inline-block;
  padding: 10px 8px !important;
  font-size: 80%;
  margin: 0 10px;
  border-radius: 5px;
}

div.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;
  background-color: #bebebe;
  color: #fff;
  display: inline-block;
  padding: 10px 8px !important;
  font-size: 80%;
  margin: 0 10px;
  border-radius: 5px;
}

.carousel-text {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  letter-spacing: 1px;
  z-index: 801;
}

.carousel-text h1 {
  font-weight: 400;
  font-size: 300%;
}

.carousel-text h3 {
  font-weight: 400;
  font-size: 160%;
}

.join-us-lead {
  font-size: 22px !important;
}

.text-orange {
  color: #F16DA4;
  font-size: 26px;
}

/*========================================*/
/*    PURCHASE HERE   */
/*========================================*/
.purchase-img {
  display: inline-block;
  border: 5px #F16DA4 solid;
  border-radius: 15px;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 10px;
  background-color: #b3b3b3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.purchase-img:hover {
  background-color: #F16DA4;
}

@media (min-width: 1000px) {
  .purchase-here .col-sm-3 {
    padding: 40px;
  }
}

.purchase-item-name {
  position: relative;
  padding: 4px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
}

.purchase a:link, .purchase a:active, .purchase a:visited, .purchase a:hover {
  color: #fff;
}

.purchase-here .col-sm-3 {
  box-sizing: border-box;
}

.purchase-here-text {
  padding-top: 10px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .purchase-item-name {
    font-size: 85%;
  }
}

.great-reasons ul {
  line-height: 35px;
}

.contact-form {
  max-width: 350px;
  padding: 0 15px;
  border: 5px #F16DA4 solid;
  border-radius: 10px;
  font-size: 16px;
}

.contact-form .form-group {
  margin-bottom: 5px;
}

.contact-form h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px !important;
}

.contact-form label {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.contact-form .small-text {
  margin: 0;
  padding-bottom: 10px;
}

.children-interest {
  max-width: 600px;
  border-radius: 10px;
  border: 2px solid #F16DA4;
  padding: 10px;
  margin: 20px auto;
}

@media (min-width: 767px) {
  .children-interest .col-sm-6:first-child {
    border-right: 2px solid #F16DA4;
  }
}

.children-interest h3 {
  font-family: "Itim", Georgia, serif;
  color: #1398DD;
}

/*========================================*/
/*    HOME-FOOTER  */
/*========================================*/
.home-footer {
  border-top: 1px dashed #bebebe;
}

.kidsfair {
  padding: 20px 50px;
}

.btn-modified {
  background-color: #F16DA4 !important;
  color: #fff  !important;
}

.mail-subscribe {
  padding-top: 20px;
  border-top: 1px dashed #bebebe;
}

.subscribe-div .input-group {
  margin-bottom: 30px;
}
