/*========================================*/
/*    Product and Category Pages  */
/*========================================*/

div.product-item, div.r-tabs-panel {
    background-color: lighten($tan, 5%) !important;
}
.product-item {
    border: 1px solid #3c3c3c !important;
}

div.product-item div.status{
    display: none !important;
}
ul.cat-menu-ul a {
    font-size: 18px;
}
@media (max-width: 467px){
    .cart a{
        font-size: 11px !important;
    }
}
.freeshippingblock {
    display: none !important;
}
.link-menu-ul li{
    margin-bottom: 5px;
}
.sponsors img{
    margin-bottom: 10px;
}
div.r-tabs-panel{
    border: 1px solid #3c3c3c !important;
}
.r-tabs-anchor{
    border: 1px solid #3c3c3c !important;
    border-bottom: 1px solid transparent !important;
}
.r-tabs-tab{
    background-color: #3c3c3c !important;
}
.promo-name{
    float: none !important;
    line-height: normal !important;
    width: 100% !important;
}

.new-location{
    padding: 6px;
    margin: 0 auto;
    border: 3px solid $blue;
    background-color: $yellow;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-right: 5px;
    font-size: 16px;
}
@media (max-width: 767px){
    .new-location{
        padding: 5px 3px;
    }
}