.post-list{
    padding-bottom: 20px;
    p{
        margin: 0;
        padding: 10px 0;
        font-size: 16px;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    li{
        padding: 10px 0;
        color: $black;
        font-size: 16px;
       
    }
    li:before {
        content: "• ";
        color: $pink; /* or whatever color you prefer */
    }
}