.post-list{
    padding-bottom: 20px;
    p{
        margin: 0;
        padding: 10px 0;
        font-size: 16px;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    li{
        padding: 10px 0;
        color: $black;
        font-size: 16px;
       
    }
    li:before {
        content: "• ";
        color: $pink; /* or whatever color you prefer */
    }
}

.h-100{
    height: 100%;
}
.flex-box{
    display: flex;
}
.pt-20{
    padding-top: 20px;
}
.wt-backgrount{
    background-color: #fff !important;
}