




//Start Header
.header{
    height: 80vh;
    background: url(../images/cover-img.png);
    background-position: center;
    background-size: cover;
    color: #fff;

    .header-text{
        display: inline-block;
        position: relative;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;

        h1{
            font-size: 35px;
            font-family: $text-font-b;
        }
        p {
            font-size: 35px;
            font-family: $text-font-l;
        }
    }

}
//End Header



// Start Case study Masonry
@media only screen and (max-width: 992px) {

    .case-boxes {

        .case-box{
            width: 50% !important;
        }
    }
}

@media only screen and (max-width: 480px) {
    .case-boxes {

        .case-box{
            width: 100% !important;
        }
    }
}

.case-studies{
    
    padding-top: 60px;
    margin-bottom: 80px;

    ul, li{
        padding: 0;
        margin: 0;
    }

    .case-boxes{
        a{
            @include border-box;
        }
        .the-text a{
            display: inline-block;
            padding: 0 30px 10px 0;
            position: relative;
            text-decoration: none;


            border-bottom: 2px solid $gray;
        }

        list-style: none;
        margin: 0;
        padding: 0;

        .case-box{
            float: left;
            margin: 0;
            padding: 0;
            width: 33.333%;
            overflow: hidden;
            @include border-box;
            display: block;

            &:hover{

                .case-hover{
                    opacity: 1;
                    h2{font-family: $text-font-b;}
                }
            }


            .case-img{
                display: inline;
                img{
                    width: 100%;
                    display: inline;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                }
                &:after{
                    content: " ";
                    display: inline;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(250,250,250,0);
                    @include transition(0.5s);
                }
            }

            .case-hover{
                width: 100%;
                display: block;
                padding: 20px 0 20px 0;
                @include border-box;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                overflow: hidden;
                text-align: center;
                color: #fff;
                @include transition();
                opacity: 0;
            }
        }
        .case-box.hover-type:hover {
            .case-img {
                &:after{
                    background: $pink-hover;
                }
            }
        }

        .case-box.text-type{
            .the-text{
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;

                padding: 20px;

                h4{
                    font-size: 16px;
                }
                p {
                    font-size: $text-box-header;
                    font-family: $text-font-b;
                }
            }
        }
    }

} 
//End Case study Masonry







