#footer-news{
    position: relative;

    .owl-controls{
        display: inline-block;
        position: absolute;
        top: 0;


        @media (min-width: 768px){
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
        }

        div.owl-next,div.owl-prev{
            font-size: 20px;
            padding: 5px 10px !important;
            background-color: #fff;
            color: $pink;
        }
        div.owl-prev{

        }
        div.owl-next{
            margin-top: 10px;
        }
    }
    .header-news-img{
        text-align: center;

        img{
            border: 2px solid #fff;
            @media (min-width: 768px){
                width: 100%;

            }

        }
    }
    .header-news-text{
        color: #fff;
        h2{
            font-size: 30px;
        }
        h1{
            font-size: 38px;
            font-family: $text-font;
        }
        p{
            font-size: 18px;
        }
        .read-more{
            display: inline-block;
            padding-bottom: 10px;
            border-bottom: 2px solid #fff;
            font-size: 18px;
            i{
                padding-left: 5px;
            }
            a{border: none;}
            a.link-rm-default{color: #fff;}
        }
    }
}

//Start FOOTER
footer{
    padding-bottom: $footer-bottom-pad;
    background-color: $gray;

    .latest{
        background-color: $black;
        padding: 20px 0;
        p {
            color: $gray;
            font-size: 16px;
        }
        .text-heading{
            color: $gray;
            font-size: $footer-text-heading;
        }

        .item{
        }





        .latest-connect{
            display: inline-block;
            .input-group{
                @media (min-width:767px){
                    width: 70%;
                }

                i{
                    color: $pink;
                }
            }
        }
    }

    .footer-menu{
        @include footer-links;
        padding-top: $footer-bottom-pad;

        @media (min-width: 767px){
            .col-xs-4{
                padding: 0 5px !important;
            }
        }

        h4{
            font-size: 15px;
            font-family: $text-font-b;
        }
        ul{
            list-style: none;
            padding: 0;

        }

        .footer-socail{

            .socail-icons{
                display: inline-block;
                padding-bottom: 10px;
                border-bottom: 1px solid darken($gray, 20%);
                margin-bottom: 10px;

                i{
                    margin-right: 10px;
                    font-size: 25px;
                    color: $darker-gray;
                    @include transition;
                    &:hover{
                        color: $pink;
                    }
                }
            }
            .bronchure{
                display: flex;
                align-items: flex-end;

                img{
                    display: inline-block;
                    width: 50px;
                    margin-right: 2px;
                }
                a {
                    display: inline-block;
                    width: 120px;
                }
            }
        }
    }

    .footer-copyright{

        .footer-logo{
            img{
                width: 230px;
            }
            div{
                font-size: 13px;
            }
        }

        p{
            margin-top: 25px;
            color: $darker-gray;
            font-family: $text-font-b;
            font-size: 13px;
        }
    }
}
//End Footer


//Start Modal
.modal{

}

.registerPopup{
    padding: 0; margin: 0;
    display: block;
    @include border-box;
    display: flex;

    @media (min-width: 767px){
        min-width: 700px;
    }



    .col-xs-6{
        @include border-box;
        overflow: hidden;
        height: 100%;
        &:first-child{
            padding-right: 0;
        }
        &:last-child{
            padding-left: 0;
            padding-top: 0;
        }
        //        background-color: $gray;
    }

    .register-desc{
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: $gray;

        .sinclair-btn{
            padding: 5px 15px;
            background-color: $black;
            color: $pink;
            border: none;
        }
        img{
            margin-top: 20px;
            width: 100%;
            height: auto;
        }
        .h2 {
            color: $black;
            font-family: $text-font-b;
        }
        p {
            color: $darker-gray;
        }
        .socail-icons{
            i{
                @include social-icons-i;
            } 

            a{
                border: none !important;
            }
        }


    }

    .register-form-div{
        height: 100%;
        background-color: $darker-gray;
    }
    .register-form{
        background-color: $black;
        padding: 20px 20px 10px 20px;

        h2{
            color: #fff;
            margin: 0;
            padding-bottom: 40px;
        }
        .form-control{
            width: 80%;
            margin: 0 auto;
            background-color: $gray;
            margin-bottom: 20px;
        }
        .popup-form-img{
            text-align: right;
            padding-top: 10px;
        }
        img{
            width: 40px;
            position: relative;
            right: 0;
        }
    }

    .registerPopup-tags{
        margin: 0; padding: 0;
        border-top: 2px solid #fff;
        color: $gray;
        padding: 20px;

        span{
            font-size: 22px;
            color: #fff;
        }
    }
}

//End Modal