.available-pages{
    padding: 50px 0;
    border: 1px solid $gray;
    
    text-align: center;
    h2{margin: 0;}
    ul{
        list-style: none;
        padding: 0;
    }
}

.home-head-logo{
    text-align: center;
    font-size: 10px;
    img{
        width: 180px;
    }
}

.homepage-header{
    position: relative;
    color: #fff;
    background-color: $black;
    .container{
        position: relative;
        padding: 80px 0;
    }
    
    .homepage-chat-logo img{
        position: absolute;
        bottom: -18px; right: 0;
        padding: 0;
        width: 50px;
        z-index: 995;
    }
    h2,h1{
        margin: 0;
        padding-bottom: 20px;
        font-size: 40px;
    }
    h1{font-family: $text-font-b;}
    h2{font-family: $text-font-l;}
    img{
        width: 80px;
    }
}

.homepage-content{
    padding: 50px 0;
}
#home-header-carousel{
    position: relative;
    background-color: $light-gray;


    .owl-controls{
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @media (min-width: 768px){
            
        }
        

        div.owl-next,div.owl-prev{
            font-size: 20px;
            padding: 5px 10px !important;
            background-color: $black;
            color: $pink;
            float: left;
            margin-bottom: 50px;
        }
        div.owl-prev{
            
        }
        div.owl-next{
           margin-left: 20px;
        }
    }
    .header-news-img{
        position: relative;
        text-align: center;
        
        @media (min-width: 768px){
            padding-left: 0;
            img{
                width: 100%;
            }
        }
        
    }
    .header-news-text{
        color: $black;
        padding-left: 50px;
        padding-bottom: 30px;
        h2{
            font-family: $text-font-b;
        }
        h1{
            font-size: 38px;
            font-family: $text-font;
        }
        p{
            font-size: 18px;
        }
        .read-more{
            display: inline-block;
            padding-right: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid $darker-gray-l;
            font-size: 18px;
            i{
                padding-left: 5px;
            }
            a{border: none;}
            a.link-rm-default{color: #fff;}
        }
    }
}

.homepage-trending{
    padding: 0;
    background-color: $light-gray;
    @media (min-width: 991px){
        @include maintain-aspect-r(142%);
    }
    
    .homepage-trending-header{
        position: relative;
        padding: 15px;
        color: #fff;
        background-color: $pink;
        h3{
            display: inline-block;
            padding: 0;margin: 0;
        }
        img{
            width: 30px;
            float: right;
        }
    }
    
    .trending-item{
        display: flex;
        &:last-child{
            .trending-text{border: none;}
            .trend80{display: none;}
        }
        
        div{
            display: inline-flex;
            flex-wrap: wrap;
            height: 80px;
            align-items: center;
        }
        .trending-num{
            position: relative;
            width: 20%;
            justify-content: center;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border: 2px solid $darker-gray;
                border-radius: 15px;
                z-index: 982;
                background-color: #fff;
                @include transition();
            }
            .trend80{
                width: 1px;
                height: 80px;
                border-right: 2px solid $darker-gray;
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 980;
                @include transition();
            }
            
        }
        .trending-text{
            width: 80%;
            border-bottom: 1px solid $gray;
        }
        
    }
    .trending-item:hover, .trending-item-active{
        .trending-num {
            span{
                border-color: $pink;
                color: $pink;
            }
            .trend80{
                border-color: $pink;
            }
        }
        
    }
}
.homepage-content-row{
    margin-bottom: 30px;
    .homepage-content-img{
        img{
            width: 100%;
            height: 100%;
            border: 5px solid transparent;
            
        }
    }
    .home-content-box{
        padding: 0 5px;
        @media (min-width: 991px){
            @include maintain-aspect-r(98.3%);
        }
        
        img{
            width: 100%;
           
        }
        .text-box{
            padding: 20px;
            background-color: $light-gray;
            .home-content-title{
                display: block;
                position: relative;
                .fox-button-d{
                    float: right;
                }
                h2{
                    display: inline-block;
                    margin: 0;
                    font-family: $text-font-b;
                }
            }
        }
        .text-box-d{
            background-color: $black;
            color: #fff;
            .fox-button-l{float: right;}
            h2{
                color: $pink;
                padding-bottom: 15px;
            }
            .read-more{
                display: inline-block;
                padding-right: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid #fff;
                a{
                    color: #fff;
                    border: none;
                }
            }
        }
    }
}
//Fox Buttons
.fox-button-d{
    padding: 10px 15px;
    color: $pink;
    background-color: $black;
    border: none;
}
.fox-button-l{
    padding: 10px 15px;
    color: $black;
    background-color: #fff;
    border: none;
}