.news-header{
    padding: 50px 0;
    background-color: $black;
    position: relative;
    
    #news-header-carousel,#news-executive-carousel{
    position: relative;
        
        .owl-controls{
            display: inline-block;
            position: absolute;
            top: 0;
            
            
            @media (min-width: 768px){
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
            }
            
            div.owl-next,div.owl-prev{
                font-size: 20px;
                padding: 5px 10px !important;
                background-color: #fff;
                color: $pink;
            }
            div.owl-prev{
                
            }
            div.owl-next{
                margin-top: 10px;
            }
        }
        .header-news-img{
            text-align: center;
            
            img{
                border: 5px solid $pink;
                @media (min-width: 768px){
                    width: 100%;
                    
                }
                
            }
        }
        .header-news-text{
            color: #fff;
            h2{
                font-size: 25px;
            }
            h1{
                font-size: 38px;
                font-family: $text-font;
            }
            p{
                font-size: 18px;
            }
            .read-more{
                display: inline-block;
                padding-bottom: 10px;
                border-bottom: 2px solid #fff;
                font-size: 18px;
                i{
                    padding-left: 5px;
                }
                a{border: none;}
                a.link-rm-default{color: #fff;}
            }
        }
    }
}

.news{
    background-color: $light-gray;
    .news-main{
        background-color: #fff;
    }
    .news-filters{
        padding: 20px 0;
        .row:first-child{margin-bottom: 10px;}
        border-top: 2px solid $black;
        a{
            display: block;
            text-align: center;
            width: 100%;
            padding: 5px;
            border: 1px solid $black;
            color: $black;
            i{float: right;}
        }
        .news-active-filter, a:hover{
            background-color: $black;
            color: #fff;
        }
    }
    
    .news-content{
        padding-bottom: 50px;
        .news-box{
            margin-bottom: 30px;
            .news-breadcrumb{
                margin-top: 10px;
            }
        }
        .read-more{
            display: inline-block;
            padding-bottom: 10px;
            border-bottom: 2px solid $darker-gray;
            font-size: 18px;
            i{
                padding-left: 5px;
            }
            a{border: none;}
            a.link-rm-default{color: $darker-gray;}
        }
        img{
            width: 100%;
        }
    }
    
    
    
    .news-sidebar{
        .news-sidebar-header{text-align: center;}
        .news-sidebar-item{
            position: relative;
            margin-bottom: 20px;
            &:hover{
                .news-sidebar-pinkdiv{
                    opacity: 1;
                }
            }
            img{
                max-width: 100%;
            }
            .news-sidebar-pinkdiv{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 50px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $pink-hover;
                @include transition(0.5s);
                opacity: 0;
            }
        }
    }
}