.dark-bg{background-color: $black;}
.about-box-half-e{
//    padding: 0 5px;
    .frow:first-child{
        margin-bottom: 20px;
    }
    
}
.about-box-full{
    margin-top: 10px;
    @media (max-width:767px){
        padding: 15px;
    }
}
.about-box-half-txt{
    @media (max-width: 767px){
        .ab-text-box{position: relative !important;}
        .maintain-aspect-r{
            padding-bottom: 0px !important;
            .maintain-aspect-hold{
                position: relative !important;
            }
        }
    }
}
.about-box-desc{margin-top: 20px;}
.about-box-half{
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    @include maintain-aspect-r(102%);
    .box-half{
        padding: 0;
        .logo-div{
            position: absolute;
            bottom: 30px; right: 30px;
            img{width: 60px;height: auto;}
        }
        >img{
            width: 100%;
        }
    }
    .ab-text-box{
        position: absolute;
        top: 0;
        padding: 20px 25px;
        h2{
            font-size: 50px;
            color: #fff;
            font-family: $text-font-l;
            line-height: 70px;
        }
        @media (max-width: 518px){
            h2{
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
}

.about-box{
    @include maintain-aspect-r(100%);
    padding: 0px 10px;    
    .box{
        position: relative;
        padding: 5px;
        background-color: $light-gray;
        @include transition();
        &:hover{
            background-color: $pink;
            .contact-text{
                color: #fff;
                a,.pink-text{color: #fff;}
            }
        }
        > img{
            width: 100%;
        }
        .text-dark-bg{
            position: absolute;
            bottom: 5px; right: 5px; left: 5px;
            padding: 20px;
            font-size: 20px;
            color: #fff;
            background-color: $black;
            opacity: 0.8;
            z-index: 996;
        }
        .contact-text{
            padding-left: 15px;
            h2{
                font-size: 35px;
            }
        }
    }
    .social-box{
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            color: #fff;
            font-size: 100px;
        }
    }
}

.dark-box{
    &:hover{
        &:after{
            opacity: 0;
        }
    }
    &:after{
        content: ' ';
        display: inline;
        position: absolute;
        top: 5px; bottom: 5px;
        left: 5px; right: 5px;
        background-color: #000;
        opacity: 0.4;
        border: 1px solid #000;
        @include transition();
    }
}

.download-box{
    &:hover{
        img{display: none;}
        background-color: $black !important;
        .download-text{
            display: flex;
        }
    }
    .download-image{
        position: absolute;
        top: 0;left: 0;
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100px;
        }
    }
    .download-text{
        display: none;
        position: absolute;
        top: 0;left: 0;
        width: 100%; height: 100%;
        align-items: center;
        justify-content: center;
        color: $pink;
        font-size: 30px;
    }
}

