// === COLORS ===
$orange: #c70505;
$orange-d: #970607;
$light-orange: #f56b12;
$green: #45b549;
$gold-text: #f8951d;
$mobile-gray: #222222;
$mobile-gray-d: #000000;
$mobile-gray-l: #222222;
//desktop
$desktop-gray: #393636;
$desktop-black: #211f1f;
$text-color: #0b0b0b;
//Ipad
$ipad-black: #2b2929;
$ipad-gray: #3b3938;
$ipad-black-l: #312f2e;


$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;

// === FONTS ===
$text-font: "Myriad Pro Regular", Arial, sans-serif;
$headline-font: 'Courgette', Georgia, serif;

// === SIZES ===
$text-size: 20px;
$text-box: 780px;
$section-text-box: 930px;

$context-width: 960px;
$header-height: 60px;
$footer-height: 90px;