@charset "UTF-8";
@font-face {
  font-family: "NHaasGrotesk-b";
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
  src: url("NHaasGroteskTXPro-75Bd.otf") format("opentype");
}

@font-face {
  font-family: "NHaasGrotesk";
  src: url("NHaasGroteskTXPro-55Rg.otf") format("opentype");
}

@font-face {
  font-family: "NHaasGrotesk-l";
  src: url("NHaasGroteskDSPro-35XLt.otf") format("opentype");
}

@font-face {
  font-family: "NHaasGrotesk-xl";
  src: url("NHaasGroteskDSPro-15UltTh.otf") format("opentype");
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

body {
  font-family: "NHaasGrotesk", Helvetica, Verdana, Sans-Serif;
  font-size: 14px;
  letter-spacing: 0.7px;
}

body a:link, body a:visited {
  text-decoration: none;
  color: #E61B86;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

body a:hover, body a:active {
  border-bottom-color: #E61B86;
}

body .pink-text {
  color: #E61B86;
}

body .italic-text {
  font-style: italic;
}

body .gray-text {
  color: #DADADA;
}

body .light-text {
  font-family: "NHaasGrotesk-xl", Helvetica, Verdana, Sans-Serif;
}

body .wrapper {
  padding: 0;
  margin: 0;
  padding-bottom: 80px;
  background-color: #F7F7F7;
}

body .read-more-btn {
  padding: 5px 10px;
  color: #fff;
  background-color: #E61B86;
  border: none;
}

body .read-more-btn:hover {
  background-color: #ba146b;
}

body strong {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

body .contoner {
  padding: 0 15px;
}

body .link-rm-default:link, body .link-rm-default:visited, body .link-rm-default:hover, body .link-rm-default:active {
  border: none;
  color: #232426;
  padding: 0;
  margin: 0;
}

body .display-none {
  display: none;
}

body .pad0 {
  padding: 0 !important;
}

.navbar {
  display: none;
  z-index: 999;
  background-color: #232426;
  color: #fff;
}

.navbar .navbar-brand {
  padding: 7px 20px;
}

.navbar .navbar-brand img {
  height: 100%;
}

.navbar ul li {
  color: #fff;
}

.navbar ul li a:link, .navbar ul li a:visited {
  color: #fff !important;
  border: none;
}

.navbar ul li a:hover, .navbar ul li a:active {
  color: #b3b3b3 !important;
}

@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
  .navbar {
    display: block;
  }
  .navigation, .navigation-inverse {
    display: none;
  }
}

.offset-section {
  position: relative;
  top: -180px;
}

.chatbox-a {
  max-width: 400px;
  margin: 30px auto;
}

.chatbox {
  position: relative;
  max-width: 400px !important;
  margin: 0 auto;
  background-color: #DADADA;
  color: #5b5b5b;
  border-radius: 0;
  border-bottom: 2px solid #E61B86;
}

.chatbox h3 {
  margin: 0;
  font-size: 18px;
}

.chatbox p {
  margin: 0;
}

.chatbox .chatbox-head {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #a7a7a7;
  margin-bottom: 20px;
}

.chatbox .chatbox-head div {
  position: absolute;
  float: right;
  top: 15px;
  right: 15px;
}

.chatbox .chatbox-head div a {
  color: #5b5b5b;
  font-size: 16px;
  padding-left: 10px;
}

.chatbox .chatbox-team {
  width: 100%;
  border: 1px solid #a7a7a7;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px 50px;
  text-align: center;
}

.chatbox .chatbox-team .chatbox-team-imgs {
  padding: 20px 0;
  width: 100%;
}

.chatbox .chatbox-team .chatbox-team-imgs img {
  width: 50px;
}

.chatbox .chatbox-online {
  width: 100%;
  border: 1px solid #a7a7a7;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px 50px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.chatbox .chatbox-online .chatbox-email {
  font-size: 20px;
  margin-top: 10px;
  color: skyblue;
}

.chatbox .chatbox-start-conv {
  margin: 30px 0;
  border-radius: 10px;
  border: 1px solid #a7a7a7;
}

.chatbox .chatbox-start-conv input {
  border: none !important;
  border-radius: 10px;
  background-color: #fff;
}

* {
  min-height: 0;
  min-width: 0;
}

body .page-loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #F7F7F7;
  z-index: 999;
}

body #floatingCirclesG {
  top: 40%;
}

body #floatingCirclesG {
  position: relative;
  width: 125px;
  height: 125px;
  margin: auto;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
}

body .f_circleG {
  position: absolute;
  background-color: white;
  height: 22px;
  width: 22px;
  border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  animation-name: f_fadeG;
  -o-animation-name: f_fadeG;
  -ms-animation-name: f_fadeG;
  -webkit-animation-name: f_fadeG;
  -moz-animation-name: f_fadeG;
  animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

body #frotateG_01 {
  left: 0;
  top: 51px;
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}

body #frotateG_02 {
  left: 15px;
  top: 15px;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

body #frotateG_03 {
  left: 51px;
  top: 0;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

body #frotateG_04 {
  right: 15px;
  top: 15px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

body #frotateG_05 {
  right: 0;
  top: 51px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

body #frotateG_06 {
  right: 15px;
  bottom: 15px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

body #frotateG_07 {
  left: 51px;
  bottom: 0;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

body #frotateG_08 {
  left: 15px;
  bottom: 15px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

@keyframes f_fadeG {
  0% {
    background-color: #e61b87;
  }
  100% {
    background-color: white;
  }
}

@-webkit-keyframes f_fadeG {
  0% {
    background-color: #e61b87;
  }
  100% {
    background-color: white;
  }
}

.navigation {
  padding: 0;
  margin: 0;
}

.navigation .top-nav {
  display: inline-block;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  float: right;
}

.navigation .top-nav ul {
  list-style: none;
}

.navigation .top-nav ul li {
  float: left;
  padding: 3px 10px;
}

.navigation .top-nav ul li:last-child {
  padding-right: 0;
}

.navigation .top-nav ul li a:link, .navigation .top-nav ul li a:visited {
  color: #232426;
  text-decoration: none;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.navigation .top-nav ul li a:active, .navigation .top-nav ul li a:hover {
  color: #6c6f76;
}

.navigation .top-nav ul .sign-in {
  border-left: 2px #232426 solid;
  border-right: 2px #232426 solid;
}

.navigation .top-nav ul .sign-in a:link, .navigation .top-nav ul .sign-in a:visited {
  color: #E61B86;
}

.navigation .top-nav ul .sign-in a:active, .navigation .top-nav ul .sign-in a:hover {
  color: #f077b7;
}

.navigation nav {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #232426;
  z-index: 1000;
}

.navigation nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation nav ul li {
  padding: 10px;
}

.navigation nav ul li:first-child {
  padding-left: 0;
}

.navigation nav ul li:last-child {
  padding-right: 0;
}

.navigation nav ul li a:link,
.navigation nav ul li a:visited {
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.navigation nav ul li a:active,
.navigation nav ul li a:hover {
  border-bottom-color: #E61B86;
}

.navigation nav ul .logo a:link, .navigation nav ul .logo a:visited {
  color: #5b5b5b;
  border: none;
  font-size: 13px;
}

.navigation nav ul .logo a:hover, .navigation nav ul .logo a:active {
  color: #0e0e0e;
}

.navigation nav ul .logo img {
  height: 35px;
  width: auto;
}

.navigation-inverse {
  padding: 0;
  margin: 0;
  background-color: #232426;
}

.navigation-inverse .top-nav {
  display: inline-block;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  float: right;
  color: #fff;
}

.navigation-inverse .top-nav ul {
  list-style: none;
}

.navigation-inverse .top-nav ul li {
  float: left;
  padding: 3px 10px;
}

.navigation-inverse .top-nav ul li:last-child {
  padding-right: 0;
}

.navigation-inverse .top-nav ul li a:link, .navigation-inverse .top-nav ul li a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.navigation-inverse .top-nav ul li a:active, .navigation-inverse .top-nav ul li a:hover {
  color: #6c6f76;
}

.navigation-inverse .top-nav ul .sign-in {
  border-left: 2px #fff solid;
  border-right: 2px #fff solid;
}

.navigation-inverse .top-nav ul .sign-in a:link, .navigation-inverse .top-nav ul .sign-in a:visited {
  color: #E61B86;
}

.navigation-inverse .top-nav ul .sign-in a:active, .navigation-inverse .top-nav ul .sign-in a:hover {
  color: #f077b7;
}

.navigation-inverse nav {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  z-index: 1000;
}

.navigation-inverse nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-inverse nav ul li {
  padding: 10px;
}

.navigation-inverse nav ul li:first-child {
  padding-left: 0;
}

.navigation-inverse nav ul li:last-child {
  padding-right: 0;
}

.navigation-inverse nav ul li a:link,
.navigation-inverse nav ul li a:visited {
  color: #232426;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.navigation-inverse nav ul li a:active,
.navigation-inverse nav ul li a:hover {
  border-bottom-color: #E61B86;
}

.navigation-inverse nav ul .logo {
  padding-right: 200px;
}

.navigation-inverse nav ul .logo a:link, .navigation-inverse nav ul .logo a:visited {
  color: #5b5b5b;
  border: none;
  font-size: 13px;
}

.navigation-inverse nav ul .logo a:hover, .navigation-inverse nav ul .logo a:active {
  color: #0e0e0e;
}

.navigation-inverse nav ul .logo img {
  height: 35px;
  width: auto;
}

.header {
  height: 80vh;
  background-image: url(../images/cover-img.png);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.header .header-text {
  display: inline-block;
  position: relative;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px;
}

.header .header-text h1 {
  font-size: 35px;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.header .header-text p {
  font-size: 35px;
  font-family: "NHaasGrotesk-l", Helvetica, Verdana, Sans-Serif;
}

@media only screen and (max-width: 992px) {
  .case-boxes .case-box {
    width: 50% !important;
  }
}

@media only screen and (max-width: 480px) {
  .case-boxes .case-box {
    width: 100% !important;
  }
}

.case-studies {
  padding-top: 60px;
  margin-bottom: 80px;
}

.case-studies ul, .case-studies li {
  padding: 0;
  margin: 0;
}

.case-studies .case-boxes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.case-studies .case-boxes a {
  box-sizing: border-box;
}

.case-studies .case-boxes .the-text a {
  display: inline-block;
  padding: 0 30px 10px 0;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #DADADA;
}

.case-studies .case-boxes .case-box {
  float: left;
  margin: 0;
  padding: 0;
  width: 33.333%;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}

.case-studies .case-boxes .case-box:hover .case-hover {
  opacity: 1;
}

.case-studies .case-boxes .case-box:hover .case-hover h2 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.case-studies .case-boxes .case-box .case-img {
  display: inline;
}

.case-studies .case-boxes .case-box .case-img img {
  width: 100%;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.case-studies .case-boxes .case-box .case-img:after {
  content: " ";
  display: inline;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.case-studies .case-boxes .case-box .case-hover {
  width: 100%;
  display: block;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
  opacity: 0;
}

.case-studies .case-boxes .case-box.hover-type:hover .case-img:after {
  background: rgba(230, 27, 134, 0.6);
}

.case-studies .case-boxes .case-box.text-type .the-text {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.case-studies .case-boxes .case-box.text-type .the-text h4 {
  font-size: 16px;
}

.case-studies .case-boxes .case-box.text-type .the-text p {
  font-size: 35px;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

#footer-news {
  position: relative;
}

#footer-news .owl-controls {
  display: inline-block;
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  #footer-news .owl-controls {
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

#footer-news .owl-controls div.owl-next, #footer-news .owl-controls div.owl-prev {
  font-size: 20px;
  padding: 5px 10px !important;
  background-color: #fff;
  color: #E61B86;
}

#footer-news .owl-controls div.owl-next {
  margin-top: 10px;
}

#footer-news .header-news-img {
  text-align: center;
}

#footer-news .header-news-img img {
  border: 2px solid #fff;
}

@media (min-width: 768px) {
  #footer-news .header-news-img img {
    width: 100%;
  }
}

#footer-news .header-news-text {
  color: #fff;
}

#footer-news .header-news-text h2 {
  font-size: 30px;
}

#footer-news .header-news-text h1 {
  font-size: 38px;
  font-family: "NHaasGrotesk", Helvetica, Verdana, Sans-Serif;
}

#footer-news .header-news-text p {
  font-size: 18px;
}

#footer-news .header-news-text .read-more {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  font-size: 18px;
}

#footer-news .header-news-text .read-more i {
  padding-left: 5px;
}

#footer-news .header-news-text .read-more a {
  border: none;
}

#footer-news .header-news-text .read-more a.link-rm-default {
  color: #fff;
}

footer {
  padding-bottom: 50px;
  background-color: #DADADA;
}

footer .latest {
  background-color: #232426;
  padding: 20px 0;
}

footer .latest p {
  color: #DADADA;
  font-size: 16px;
}

footer .latest .text-heading {
  color: #DADADA;
  font-size: 30px;
}

footer .latest .latest-connect {
  display: inline-block;
}

@media (min-width: 767px) {
  footer .latest .latest-connect .input-group {
    width: 70%;
  }
}

footer .latest .latest-connect .input-group i {
  color: #E61B86;
}

footer .footer-menu {
  padding-top: 50px;
}

footer .footer-menu a:link, footer .footer-menu a:visited {
  color: #5b5b5b;
  border: none;
  font-size: 13px;
}

footer .footer-menu a:hover, footer .footer-menu a:active {
  color: #0e0e0e;
}

@media (min-width: 767px) {
  footer .footer-menu .col-xs-4 {
    padding: 0 5px !important;
  }
}

footer .footer-menu h4 {
  font-size: 15px;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

footer .footer-menu ul {
  list-style: none;
  padding: 0;
}

footer .footer-menu .footer-socail .socail-icons {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #a7a7a7;
  margin-bottom: 10px;
}

footer .footer-menu .footer-socail .socail-icons i {
  margin-right: 10px;
  font-size: 25px;
  color: #5b5b5b;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

footer .footer-menu .footer-socail .socail-icons i:hover {
  color: #E61B86;
}

footer .footer-menu .footer-socail .bronchure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

footer .footer-menu .footer-socail .bronchure img {
  display: inline-block;
  width: 50px;
  margin-right: 2px;
}

footer .footer-menu .footer-socail .bronchure a {
  display: inline-block;
  width: 120px;
}

footer .footer-copyright .footer-logo img {
  width: 230px;
}

footer .footer-copyright .footer-logo div {
  font-size: 13px;
}

footer .footer-copyright p {
  margin-top: 25px;
  color: #5b5b5b;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
  font-size: 13px;
}

.registerPopup {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 767px) {
  .registerPopup {
    min-width: 700px;
  }
}

.registerPopup .col-xs-6 {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.registerPopup .col-xs-6:first-child {
  padding-right: 0;
}

.registerPopup .col-xs-6:last-child {
  padding-left: 0;
  padding-top: 0;
}

.registerPopup .register-desc {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #DADADA;
}

.registerPopup .register-desc .sinclair-btn {
  padding: 5px 15px;
  background-color: #232426;
  color: #E61B86;
  border: none;
}

.registerPopup .register-desc img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.registerPopup .register-desc .h2 {
  color: #232426;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.registerPopup .register-desc p {
  color: #5b5b5b;
}

.registerPopup .register-desc .socail-icons i {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: #5b5b5b;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.registerPopup .register-desc .socail-icons i:hover {
  color: #E61B86;
}

.registerPopup .register-desc .socail-icons a {
  border: none !important;
}

.registerPopup .register-form-div {
  height: 100%;
  background-color: #5b5b5b;
}

.registerPopup .register-form {
  background-color: #232426;
  padding: 20px 20px 10px 20px;
}

.registerPopup .register-form h2 {
  color: #fff;
  margin: 0;
  padding-bottom: 40px;
}

.registerPopup .register-form .form-control {
  width: 80%;
  margin: 0 auto;
  background-color: #DADADA;
  margin-bottom: 20px;
}

.registerPopup .register-form .popup-form-img {
  text-align: right;
  padding-top: 10px;
}

.registerPopup .register-form img {
  width: 40px;
  position: relative;
  right: 0;
}

.registerPopup .registerPopup-tags {
  margin: 0;
  padding: 0;
  border-top: 2px solid #fff;
  color: #DADADA;
  padding: 20px;
}

.registerPopup .registerPopup-tags span {
  font-size: 22px;
  color: #fff;
}

.section-title {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-tabs .about-tab-links {
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-tabs .about-tab-links a:link, .about-tabs .about-tab-links a:visited {
  color: #5b5b5b;
  border: none;
  font-size: 12px;
}

.about-tabs .about-tab-links a:hover, .about-tabs .about-tab-links a:active {
  color: #0e0e0e;
}

.about-tabs .about-tab-links .col-sm-2 {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #DADADA;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.about-tabs .about-tab-links .col-sm-2 i {
  display: inline-block;
  position: absolute;
  font-size: 12px;
  bottom: -7px;
  left: 50%;
  color: #DADADA;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.about-tabs .about-tab-links .col-sm-2.active {
  border-bottom: 2px solid #E61B86;
}

.about-tabs .about-tab-links .col-sm-2.active a {
  color: #E61B86;
}

.about-tabs .about-tab-links .col-sm-2.active i {
  color: #E61B86;
}

.about-tabs .about-tab-links .col-sm-2:hover {
  border-bottom: 2px solid #d11779;
}

.about-tabs .about-tab-links .col-sm-2:hover a {
  color: #ba146b;
}

.about-tabs .about-tab-links .col-sm-2:hover i {
  color: #d11779;
}

.about-tabs .tab-content .panel-text-div {
  height: 480px;
  height: 480px;
  background-position: center;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.about-tabs .tab-content .panel-text-div .panel-text {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 200px;
  color: #fff;
}

.about-tabs .tab-content .panel-text-div .panel-text h1 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.about-tabs .tab-content .panel-text-div .panel-text p {
  font-style: italic;
  font-size: 16px;
}

.about-tabs .tab-content #core-values .panel-text-div {
  background-image: url(../images/about-us/about-mountain1.jpg);
}

.about-tabs .tab-content #what-we-do .panel-text-div {
  background-image: url(../images/about-us/about-mountain1.jpg);
}

.about-tabs .tab-content #management .panel-text-div {
  background-image: url(../images/about-us/about-mountain1.jpg);
}

.about-tabs .tab-content #team-strategy .panel-text-div {
  background-image: url(../images/about-us/about-mountain1.jpg);
}

.about-tabs .tab-content #thought-leadership .panel-text-div {
  background-image: url(../images/about-us/about-mountain1.jpg);
}

.about-tabs .tab-content #insights .panel-text-div {
  background-image: url(../images/about-us/about-mountain1.jpg);
}

.sticky-register-footer {
  display: none;
  padding: 5px 0;
  background-color: rgba(35, 36, 38, 0.9);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
}

.sticky-register-footer p {
  padding: 0;
  margin: 0;
  color: #DADADA;
}

.sticky-register-footer .pull-left p {
  position: relative;
  top: 5px;
}

.sticky-register-footer .subscribe-stf {
  padding: 5px 10px;
  border: 1px solid #E61B86;
  margin-left: 4px;
  color: #DADADA;
}

.sticky-register-footer .subscribe-stf i {
  color: #E61B86;
}

.sticky-register-footer img {
  height: 30px;
}

.about-post .container {
  padding: 60px 15px;
  background-color: #F7F7F7;
}

.about-post .container .col-sm-9 {
  padding-bottom: 30px;
}

@media (min-width: 767px) {
  .about-post .container .col-sm-9 {
    padding: 0 40px;
  }
}

.about-post .container .col-sm-9 h2 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
  margin: 0;
  padding-bottom: 20px;
}

.about-post p {
  line-height: 25px;
}

.about-post .about-passport {
  max-width: 100px;
}

.about-post .col-sm-3 {
  padding-right: 10px;
  max-width: 250px;
  margin-top: 20px;
}

.about-post .col-sm-3 p {
  font-size: 13px;
}

.about-post .col-sm-3 p strong {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.about-post .col-sm-3 h3 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.about-post .col-sm-3 .socail-icons i {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: #5b5b5b;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
  font-size: 16px;
}

.about-post .col-sm-3 .socail-icons i:hover {
  color: #E61B86;
}

.about-post .about-read-more {
  border: 1px solid #DADADA;
  padding-bottom: 30px;
}

.about-post .about-read-more button.read-more-btn {
  position: relative;
  top: -15px;
}

.about-post .about-read-more ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-post .about-read-more li {
  padding-left: 1em;
  text-indent: -.7em;
}

.about-post .about-read-more li:before {
  content: "• ";
  color: #E61B86;
  font-size: 21px;
}

.about-post .about-case {
  position: relative;
  width: 90%;
  border: 2px solid #E61B86;
}

.about-post .case-box {
  box-sizing: border-box;
}

.about-post .case-box:hover .case-img:after {
  background: rgba(230, 27, 134, 0.6);
}

.about-post .case-box:hover .case-hover {
  opacity: 1;
}

.about-post .case-img img {
  width: 100%;
  display: block;
  overflow: hidden;
}

.about-post .case-img:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0);
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.about-post .case-hover {
  width: 100%;
  display: block;
  padding: 20px 0;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.about-separate-img img {
  width: 100%;
  height: auto;
}

.about-us-cover img {
  width: 100%;
}

.about-sinclair {
  background-color: #232426;
  color: #fff;
  padding: 30px 0;
}

.about-sinclair h3, .about-sinclair p {
  margin: 0;
}

.about-sinclair .col-sm-4 {
  border-right: 2px solid #fff;
}

.about-sinclair .col-sm-4:last-child {
  border-right: none;
}

.about-sinclair-wt {
  padding: 30px 0;
}

.about-sinclair-wt h3, .about-sinclair-wt p {
  margin: 0;
}

.about-sinclair-wt .col-sm-4 {
  border-right: 2px solid #DADADA;
}

.about-sinclair-wt .col-sm-4:last-child {
  border-right: none;
}

.about-percent {
  padding: 20px 0;
}

.about-percent .about-circle {
  position: relative;
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
}

.about-percent .about-circle div canvas {
  max-width: 100%;
  max-height: 100%;
}

.about-percent .about-circle h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about-percent img {
  max-width: 100%;
  padding: 10px;
}

.about-percent .about-percent-wrap {
  background-color: #F7F7F7;
  text-align: center;
  padding: 10px 8px 30px 8px;
  border-bottom: 2px solid #E61B86;
}

.about-percent .about-percent-wrap P, .about-percent .about-percent-wrap h2 {
  margin: 0;
}

.about-menu-list {
  padding: 30px 0;
  background-color: #F7F7F7;
}

.about-menu-list .col-sm-4 {
  padding-bottom: 20px;
}

.about-menu-list .about-case {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border: none;
}

.about-menu-list .case-box {
  box-sizing: border-box;
}

.about-menu-list .case-box:hover .case-img:after {
  background: rgba(230, 27, 134, 0.6);
}

.about-menu-list .case-box:hover .case-hover {
  opacity: 1;
}

.about-menu-list .case-img {
  position: relative;
}

.about-menu-list .case-img img {
  width: 100%;
  display: block;
  overflow: hidden;
}

.about-menu-list .case-img:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0);
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.about-menu-list .case-hover {
  width: 100%;
  display: block;
  padding: 20px 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  color: #fff;
  opacity: 1;
}

.about-menu-list .case-hover h1 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
  margin: 0;
}

.about-menu-list .case-hover .about-case-more {
  margin-top: 40px;
  padding-bottom: 10px;
  width: 70%;
  border-bottom: 1px solid #fff;
}

.about-menu-list .case-hover img {
  width: 30px;
  margin-top: 10px;
}

.fl-head-text {
  float: left;
  margin: 0 5px 0 0;
  font-size: 36px;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.practices .text-box:hover {
  border: none;
}

.practice-item-r .practice-image img {
  border-right: 2px solid #E61B86;
}

@media (min-width: 767px) {
  .practice-item-r .practice-image, .practice-item-r .venture-image {
    float: left;
  }
  .practice-item-r .text-box {
    float: right;
  }
}

.practice-item-l .practice-image img {
  border-left: 2px solid #E61B86;
}

.practice-image img {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}

.venture-image {
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.venture-image img {
  width: 100%;
  height: auto;
}

@media (min-width: 767px) {
  .venture-up0 {
    position: relative;
    top: 0;
  }
  .venture-up0 .text-box {
    background-color: #fff;
  }
  .venture-up1 {
    position: relative;
    top: -130px;
  }
  .venture-up1 .text-box {
    background-color: #fff;
  }
  .venture-up2 {
    position: relative;
    top: -260px;
  }
  .venture-up2 .text-box {
    background-color: #fff;
  }
  .venture-up3 {
    position: relative;
    top: -390px;
  }
  .venture-up3 .text-box {
    background-color: #fff;
  }
}

@media (min-width: 767px) {
  .venture {
    margin-bottom: -300px;
  }
  .venture .text-box {
    opacity: 0;
  }
}

.venture .venture-item {
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.venture .venture-show {
  z-index: 998;
  background-color: #fff;
}

.venture .venture-show .venture-image img {
  border: 2px solid #E61B86;
  z-index: 999;
}

.venture .venture-show .text-box {
  opacity: 1 !important;
}

.article-header {
  text-align: center;
  padding: 100px 0;
}

.article-header h1 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.article-header p.small {
  color: #DADADA;
}

.article-header p.article-author {
  margin-top: 30px;
}

.article-post-top-border {
  border-top: 10px solid #DADADA;
}

.article-post .author-sidebar img {
  border: 2px solid #E61B86;
}

.article-post .author-sidebar h3 {
  font-size: 18px;
}

.article-post .author-sidebar p {
  padding-top: 30px;
}

.article-post .read-more-top-img {
  padding: 0;
}

.article-post .read-more-top-img .read-more-div {
  padding: 0 15px 20px 15px;
}

.article-post .read-more-top-img img {
  width: 100%;
}

.contact-header {
  height: 80vh;
  background-color: #232426;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-header img {
  max-width: 100px;
  height: auto;
  position: relative;
  top: -20px;
}

.contact {
  padding-top: 60px;
  margin-bottom: 80px;
}

.contact .row {
  margin-bottom: 30px;
}

.contact .col-md-6 {
  padding: 0;
}

.contact .col-md-6 .contact-img {
  position: relative;
  width: 100%;
  padding-bottom: 31.29%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact .col-md-6:first-child {
  z-index: 989;
}

.contact .col-md-6:first-child .contact-img > div {
  background-color: #fff;
}

.contact .col-md-6:first-child .contact-img > div div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact .col-md-6:first-child .contact-img > div div a {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #DADADA;
}

.contact .col-md-6:last-child .contact-img > div {
  background-color: rgba(230, 27, 134, 0.7);
}

.contact .col-md-6:last-child .contact-img > div h1 {
  position: absolute;
  top: 50%;
  color: #fff;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
  font-size: 70px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact .col-md-6 .contact-img > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.contact .col-md-6 .contact-img > div p, .contact .col-md-6 .contact-img > div h3, .contact .col-md-6 .contact-img > div h1 {
  margin: 0;
}

.contact .col-md-6 .contact-img-sgp1 {
  background-image: url(../images/contact/sgp1.jpg);
}

.contact .col-md-6 .contact-img-sgp2 {
  background-image: url(../images/contact/sgp2.jpg);
}

.contact .col-md-6 .contact-img-ldn1 {
  background-image: url(../images/contact/ldn1.jpg);
}

.contact .col-md-6 .contact-img-ldn2 {
  background-image: url(../images/contact/ldn2.jpg);
}

.contact .col-md-6 .contact-img-del1 {
  background-image: url(../images/contact/del1.jpg);
}

.contact .col-md-6 .contact-img-del2 {
  background-image: url(../images/contact/del2.jpg);
}

.contact .col-md-6 .contact-img-cwb1 {
  background-image: url(../images/contact/cwb1.jpg);
}

.contact .col-md-6 .contact-img-cwb2 {
  background-image: url(../images/contact/cwb2.jpg);
}

.contact .col-md-6 .contact-img-chi1 {
  background-image: url(../images/contact/chi1.jpg);
}

.contact .col-md-6 .contact-img-chi2 {
  background-image: url(../images/contact/chi2.jpg);
}

.contact .col-md-6 .contact-img-nbo1 {
  background-image: url(../images/contact/nbo1.jpg);
}

.contact .col-md-6 .contact-img-nbo2 {
  background-image: url(../images/contact/nbo2.jpg);
}

.contact .col-md-6 .contact-slideIn, .contact .col-md-6 .contact-fadeIn {
  display: none;
}

.gray-box-l {
  background-color: #F7F7F7;
}

.text-box {
  line-height: 25px;
}

.text-box:hover {
  border: 2px solid #E61B86;
}

.text-box h3 {
  font-size: 25px;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
  line-height: 29px;
}

.text-box h1 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.text-box .h1-float-left {
  float: left;
  margin: 5px 10px 0 0;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
  font-size: 41px;
}

.text-box .text-box-read-more {
  width: 80%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #DADADA;
}

.text-box .text-box-read-more a {
  border: none;
}

.text-box .line-div-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 5px 0;
}

.text-box .line-div-l a {
  padding: 1px 10px;
  background-color: #DADADA;
  color: #fff;
}

.line-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 5px 0;
}

.line-div a {
  padding: 1px 10px;
  background-color: #232426;
  color: #fff !important;
}

.text-box-sm .maintain-aspect-r {
  position: relative;
  width: 100%;
  padding-bottom: 108.5%;
  box-sizing: border-box;
}

.text-box-sm .maintain-aspect-r .maintain-aspect-hold {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .text-box-100 .maintain-aspect-r {
    position: relative;
    width: 100%;
    padding-bottom: 105%;
    box-sizing: border-box;
  }
  .text-box-100 .maintain-aspect-r .maintain-aspect-hold {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    box-sizing: border-box;
  }
}

@media (max-width: 1199px) {
  .text-box-100 {
    padding-bottom: 30px;
  }
}

.image-box {
  padding: 0;
}

.image-box:hover {
  border: 2px solid #E61B86;
}

.image-box img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.executive {
  padding: 50px 0;
}

.training-headerpic img {
  width: 100%;
}

.sinclair-text-logo img {
  width: 80%;
}

.talent-management .small {
  font-family: "NHaasGrotesk-l", Helvetica, Verdana, Sans-Serif;
  font-size: 16px;
}

.talent-management .header-text {
  max-width: 600px;
}

.talent-management .case-box-covered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F7F7F7;
}

.case-box-dld-pdf .case-box-covered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #232426;
}

.case-box-dld-pdf .case-hover-dld {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.case-box-dld-pdf:hover .case-img:after {
  opacity: 1;
  background: #232426 !important;
}

.news-header {
  padding: 50px 0;
  background-color: #232426;
  position: relative;
}

.news-header #news-header-carousel {
  position: relative;
}

.news-header #news-header-carousel .owl-controls {
  display: inline-block;
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  .news-header #news-header-carousel .owl-controls {
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.news-header #news-header-carousel .owl-controls div.owl-next, .news-header #news-header-carousel .owl-controls div.owl-prev {
  font-size: 20px;
  padding: 5px 10px !important;
  background-color: #fff;
  color: #E61B86;
}

.news-header #news-header-carousel .owl-controls div.owl-next {
  margin-top: 10px;
}

.news-header #news-header-carousel .header-news-img {
  text-align: center;
}

.news-header #news-header-carousel .header-news-img img {
  border: 5px solid #E61B86;
}

@media (min-width: 768px) {
  .news-header #news-header-carousel .header-news-img img {
    width: 100%;
  }
}

.news-header #news-header-carousel .header-news-text {
  color: #fff;
}

.news-header #news-header-carousel .header-news-text h2 {
  font-size: 25px;
}

.news-header #news-header-carousel .header-news-text h1 {
  font-size: 38px;
  font-family: "NHaasGrotesk", Helvetica, Verdana, Sans-Serif;
}

.news-header #news-header-carousel .header-news-text p {
  font-size: 18px;
}

.news-header #news-header-carousel .header-news-text .read-more {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  font-size: 18px;
}

.news-header #news-header-carousel .header-news-text .read-more i {
  padding-left: 5px;
}

.news-header #news-header-carousel .header-news-text .read-more a {
  border: none;
}

.news-header #news-header-carousel .header-news-text .read-more a.link-rm-default {
  color: #fff;
}

.news {
  background-color: #F7F7F7;
}

.news .news-main {
  background-color: #fff;
}

.news .news-filters {
  padding: 20px 0;
  border-top: 2px solid #232426;
}

.news .news-filters .row:first-child {
  margin-bottom: 10px;
}

.news .news-filters a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px;
  border: 1px solid #232426;
  color: #232426;
}

.news .news-filters a i {
  float: right;
}

.news .news-filters .news-active-filter, .news .news-filters a:hover {
  background-color: #232426;
  color: #fff;
}

.news .news-content {
  padding-bottom: 50px;
}

.news .news-content .news-box {
  margin-bottom: 30px;
}

.news .news-content .news-box .news-breadcrumb {
  margin-top: 10px;
}

.news .news-content .read-more {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid #5b5b5b;
  font-size: 18px;
}

.news .news-content .read-more i {
  padding-left: 5px;
}

.news .news-content .read-more a {
  border: none;
}

.news .news-content .read-more a.link-rm-default {
  color: #5b5b5b;
}

.news .news-content img {
  width: 100%;
}

.news .news-sidebar .news-sidebar-header {
  text-align: center;
}

.news .news-sidebar .news-sidebar-item {
  position: relative;
  margin-bottom: 20px;
}

.news .news-sidebar .news-sidebar-item:hover .news-sidebar-pinkdiv {
  opacity: 1;
}

.news .news-sidebar .news-sidebar-item img {
  max-width: 100%;
}

.news .news-sidebar .news-sidebar-item .news-sidebar-pinkdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(230, 27, 134, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.available-pages {
  padding: 50px 0;
  border: 1px solid #DADADA;
  text-align: center;
}

.available-pages h2 {
  margin: 0;
}

.available-pages ul {
  list-style: none;
  padding: 0;
}

.home-head-logo {
  text-align: center;
  font-size: 10px;
}

.home-head-logo img {
  width: 180px;
}

.homepage-header {
  position: relative;
  color: #fff;
  background-color: #232426;
}

.homepage-header .container {
  position: relative;
  padding: 80px 0;
}

.homepage-header .homepage-chat-logo img {
  position: absolute;
  bottom: -18px;
  right: 0;
  padding: 0;
  width: 50px;
  z-index: 995;
}

.homepage-header h2, .homepage-header h1 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
}

.homepage-header h1 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.homepage-header h2 {
  font-family: "NHaasGrotesk-l", Helvetica, Verdana, Sans-Serif;
}

.homepage-header img {
  width: 80px;
}

.homepage-content {
  padding: 50px 0;
}

#home-header-carousel {
  position: relative;
  background-color: #F7F7F7;
}

#home-header-carousel .owl-controls {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#home-header-carousel .owl-controls div.owl-next, #home-header-carousel .owl-controls div.owl-prev {
  font-size: 20px;
  padding: 5px 10px !important;
  background-color: #232426;
  color: #E61B86;
  float: left;
  margin-bottom: 50px;
}

#home-header-carousel .owl-controls div.owl-next {
  margin-left: 20px;
}

#home-header-carousel .header-news-img {
  position: relative;
  text-align: center;
}

@media (min-width: 768px) {
  #home-header-carousel .header-news-img {
    padding-left: 0;
  }
  #home-header-carousel .header-news-img img {
    width: 100%;
  }
}

#home-header-carousel .header-news-text {
  color: #232426;
  padding-left: 50px;
  padding-bottom: 30px;
}

#home-header-carousel .header-news-text h2 {
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

#home-header-carousel .header-news-text h1 {
  font-size: 38px;
  font-family: "NHaasGrotesk", Helvetica, Verdana, Sans-Serif;
}

#home-header-carousel .header-news-text p {
  font-size: 18px;
}

#home-header-carousel .header-news-text .read-more {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #a7a7a7;
  font-size: 18px;
}

#home-header-carousel .header-news-text .read-more i {
  padding-left: 5px;
}

#home-header-carousel .header-news-text .read-more a {
  border: none;
}

#home-header-carousel .header-news-text .read-more a.link-rm-default {
  color: #fff;
}

.homepage-trending {
  padding: 0;
  background-color: #F7F7F7;
}

@media (min-width: 991px) {
  .homepage-trending .maintain-aspect-r {
    position: relative;
    width: 100%;
    padding-bottom: 142%;
    box-sizing: border-box;
  }
  .homepage-trending .maintain-aspect-r .maintain-aspect-hold {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    box-sizing: border-box;
  }
}

.homepage-trending .homepage-trending-header {
  position: relative;
  padding: 15px;
  color: #fff;
  background-color: #E61B86;
}

.homepage-trending .homepage-trending-header h3 {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.homepage-trending .homepage-trending-header img {
  width: 30px;
  float: right;
}

.homepage-trending .trending-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage-trending .trending-item:last-child .trending-text {
  border: none;
}

.homepage-trending .trending-item:last-child .trend80 {
  display: none;
}

.homepage-trending .trending-item div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.homepage-trending .trending-item .trending-num {
  position: relative;
  width: 20%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.homepage-trending .trending-item .trending-num span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #5b5b5b;
  border-radius: 15px;
  z-index: 982;
  background-color: #fff;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.homepage-trending .trending-item .trending-num .trend80 {
  width: 1px;
  height: 80px;
  border-right: 2px solid #5b5b5b;
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 980;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.homepage-trending .trending-item .trending-text {
  width: 80%;
  border-bottom: 1px solid #DADADA;
}

.homepage-trending .trending-item:hover .trending-num span, .homepage-trending .trending-item-active .trending-num span {
  border-color: #E61B86;
  color: #E61B86;
}

.homepage-trending .trending-item:hover .trending-num .trend80, .homepage-trending .trending-item-active .trending-num .trend80 {
  border-color: #E61B86;
}

.homepage-content-row {
  margin-bottom: 30px;
}

.homepage-content-row .homepage-content-img img {
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
}

.homepage-content-row .home-content-box {
  padding: 0 5px;
}

@media (min-width: 991px) {
  .homepage-content-row .home-content-box .maintain-aspect-r {
    position: relative;
    width: 100%;
    padding-bottom: 98.3%;
    box-sizing: border-box;
  }
  .homepage-content-row .home-content-box .maintain-aspect-r .maintain-aspect-hold {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    box-sizing: border-box;
  }
}

.homepage-content-row .home-content-box img {
  width: 100%;
}

.homepage-content-row .home-content-box img:hover {
  border: 2px solid #E61B86;
}

.homepage-content-row .home-content-box .text-box {
  padding: 20px;
  background-color: #F7F7F7;
}

.homepage-content-row .home-content-box .text-box .home-content-title {
  display: block;
  position: relative;
}

.homepage-content-row .home-content-box .text-box .home-content-title .fox-button-d {
  float: right;
}

.homepage-content-row .home-content-box .text-box .home-content-title h2 {
  display: inline-block;
  margin: 0;
  font-family: "NHaasGrotesk-b", Helvetica, Verdana, Sans-Serif;
}

.homepage-content-row .home-content-box .text-box-d {
  background-color: #232426;
  color: #fff;
}

.homepage-content-row .home-content-box .text-box-d .fox-button-l {
  float: right;
}

.homepage-content-row .home-content-box .text-box-d h2 {
  color: #E61B86;
  padding-bottom: 15px;
}

.homepage-content-row .home-content-box .text-box-d .read-more {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.homepage-content-row .home-content-box .text-box-d .read-more a {
  color: #fff;
  border: none;
}

.fox-button-d {
  padding: 10px 15px;
  color: #E61B86;
  background-color: #232426;
  border: none;
}

.fox-button-l {
  padding: 10px 15px;
  color: #232426;
  background-color: #fff;
  border: none;
}

.dark-bg {
  background-color: #232426;
}

.about-box-half-e {
  padding: 0 5px;
}

.about-box-half-e .row {
  margin-bottom: 20px;
}

.about-box-full .col-sm-3 {
  padding: 5px;
}

.about-box-desc {
  margin-top: 20px;
}

.about-box-half {
  padding: 5px;
}

.about-box-half .maintain-aspect-r {
  position: relative;
  width: 100%;
  padding-bottom: 102%;
  box-sizing: border-box;
}

.about-box-half .maintain-aspect-r .maintain-aspect-hold {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  box-sizing: border-box;
}

.about-box-half .box-half {
  padding: 0;
}

.about-box-half .box-half .logo-div {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.about-box-half .box-half .logo-div img {
  width: 60px;
  height: auto;
}

.about-box-half .box-half > img {
  width: 100%;
}

.about-box-half .ab-text-box {
  position: absolute;
  top: 0;
  padding: 20px 25px;
}

.about-box-half .ab-text-box h2 {
  font-size: 50px;
  color: #fff;
  font-family: "NHaasGrotesk-l", Helvetica, Verdana, Sans-Serif;
  line-height: 70px;
}

.about-box {
  padding: 0px 10px;
}

.about-box .maintain-aspect-r {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  box-sizing: border-box;
}

.about-box .maintain-aspect-r .maintain-aspect-hold {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  box-sizing: border-box;
}

.about-box .box {
  position: relative;
  padding: 5px;
  background-color: #F7F7F7;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.about-box .box:hover {
  background-color: #E61B86;
}

.about-box .box:hover .contact-text {
  color: #fff;
}

.about-box .box:hover .contact-text a, .about-box .box:hover .contact-text .pink-text {
  color: #fff;
}

.about-box .box > img {
  width: 100%;
}

.about-box .box .text-dark-bg {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #232426;
  opacity: 0.8;
  z-index: 996;
}

.about-box .box .contact-text {
  padding-left: 15px;
}

.about-box .box .contact-text h2 {
  font-size: 35px;
}

.about-box .social-box {
  background-color: #232426;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-box .social-box i {
  color: #fff;
  font-size: 100px;
}

.dark-box:hover:after {
  opacity: 0;
}

.dark-box:after {
  content: 'g ';
  display: inline;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: #000;
  opacity: 0.4;
  border: 1px solid #000;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
}

.download-box:hover {
  background-color: #232426 !important;
}

.download-box:hover img {
  display: none;
}

.download-box:hover .download-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download-box .download-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.download-box .download-image img {
  width: 100px;
}

.download-box .download-text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #E61B86;
  font-size: 30px;
}
