div.wpcf7 {
    margin: 0;
    padding: 0;
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
    border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
    border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
    position: relative;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid #ff0000;
    background: #fff;
    padding: .2em .8em;
}

span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
    content: " ";
}

.wpcf7-display-none {
    display: none;
}

div.wpcf7 .ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-image: url('../../images/ajax-loader.gif');
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
    visibility: visible;
}

div.wpcf7 div.ajax-error {
    display: none;
}

div.wpcf7 .placeheld {
    color: #888;
}

div.wpcf7 .wpcf7-recaptcha iframe {
    margin-bottom: 0;
}

div.wpcf7 input[type="file"] {
    cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
    cursor: default;
}


.scf-contact, #cvPopup, #positionPopup{
    .wpcf7 {
        padding-top: 30px;
        p{
            width: 48%;
            display: inline-block;
            padding-right: 10px;
        }
        @media (min-width: 1200px){
            p{margin-bottom: 25px;}
        }
        @media (max-width: 767px){
            p{width: 100%;}
        }
        label, input, select, span.wpcf7-form-control-wrap {
            width: 100%;
        }
        
    }
}

.scf-submit-p{
    width: 100% !important;
    text-align: center;
    input{
        display: inline-block; width: auto !important;
        margin-top: 20px;
        border: 1px solid $pink;
        @include transition();
        &:hover{
            background-color: $pink;
            color: #fff;
        }
    }
}
#cvPopup, #positionPopup{
    p input {
      margin-bottom: 5px;
    }
    .wpcf7{padding-bottom: 40px;}
    .scf-submit-p {
        width: 48% !important;
        input{
            border: 1px solid transparent;
            &:hover{
                color: #000;
                background-color: $darker-gray-l;
            }
        }
    }
} 
















/* Add to any */


.addtoany_share_save_container {
    clear: both;
    margin: 16px 0
}

.addtoany_header {
    margin: 0 0 16px
}

.addtoany_list {
    display: inline;
    line-height: 16px
}

.addtoany_list a,
.widget .addtoany_list a {
    border: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 16px;
    padding: 0 4px;
    vertical-align: middle
}

.addtoany_list a img {
    border: 0;
    display: inline-block;
    height: auto;
    opacity: 1;
    overflow: hidden;
    vertical-align: baseline;
    width: auto
}

.addtoany_list a span {
    display: inline-block;
    float: none
}

.addtoany_list.a2a_kit_size_32 a {
    font-size: 32px
}

.addtoany_list.a2a_kit_size_32 a > span {
    border-radius: 4px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    opacity: 1;
    width: 32px
}

.addtoany_list a .a2a_count {
    position: relative;
    vertical-align: top
}

.addtoany_list a:hover,
.widget .addtoany_list a:hover {
    border: 0;
    box-shadow: none
}

.addtoany_list a:hover img,
.addtoany_list a:hover span {
    opacity: .7
}

.addtoany_list a.addtoany_special_service:hover img,
.addtoany_list a.addtoany_special_service:hover span {
    opacity: 1
}

.addtoany_special_service {
    display: inline-block;
    vertical-align: middle
}

.addtoany_special_service a,
.addtoany_special_service div,
.addtoany_special_service iframe,
.addtoany_special_service div.fb_iframe_widget,
.addtoany_special_service span {
    margin: 0;
    vertical-align: baseline!important
}

.addtoany_special_service iframe {
    display: inline;
    max-width: none
}

a.addtoany_share_save.addtoany_no_icon span.a2a_img_text {
    display: none
}

a.addtoany_share_save img {
    border: 0;
    width: auto;
    height: auto
}




//start

.sharebox{
   padding: 0 ;
    .modal-dialog{
        padding: 0;
        position: absolute;
        width: 100% ;
        height: 100%;
        margin: 0 ;
    }
    .modal-content{
        padding: 0;
        position: absolute;
        width: 100%;
        min-height: 100%;
        background-color: rgba(255, 255, 255, 0.91);
        margin: 0 auto;
        border: none;
    }
    .sharebox-close{
        padding: 25px 60px;
        font-size: 30px;
        i{
            -webkit-text-stroke: 6px white;
            font-size: 50px;
        }
    }
    .sharebox-div{
        padding: 0 15px;
        margin: 0 auto;
        max-width: 750px;
    }
    .sharebox-head{
        p{
            font-size: 25px;
        }
        i{
            font-size: 30px;
        }
    }
    .sharebox-main{
        h1{
            font-size: 50px;
            text-align: center;
            font-family: $text-font-b;
            margin-bottom: 30px;
        }
    }
    .chatbox-online{
        margin: 0 auto;
        max-width: 440px;
        text-align: center;
        a{
            padding-right: 10px;
            padding-left: 10px;
            color: $black;
            border: none !important;
            &:hover{
                .a2a_svg{
                    opacity: 1;
                    background-color: $pink !important;
                }
                .a2a_label{
                    opacity: 1;
                    color: $pink !important;
                }
            }
        }
        .a2a_label {
            position: relative !important;
            width: 100%;
            font-size: 16px;
            display: block;
            @include transition();
        }
        .a2a_svg{
            background-color: $black !important;
            @include transition();
        }
        .input-group{
            margin-top: 30px;
            input{
                color: #fff !important;
                background-color: $black;
                padding-top: 25px;
                border-right: none;
                padding-bottom: 25px;
            }
            a{color: #fff; padding: 18px 5px;}
            > span{
                @include transition();
                background-color: $darker-gray;
                &:hover{
                    background-color: $pink;
                }
            }
        }
    }
}





