

.contact{
    
    width: 100%;
    min-height: 100%;
    color: #fff;
    padding-bottom: 70px;
    margin-bottom: -70px; 
    @media (max-width: 767px){
        padding-bottom: 120px;
    }

    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .contact-div{
        padding-top: 150px;
        max-width: 900px;
        margin: 0 auto;
        
        .social-icons{
            padding-top: 20px;
            display: block;
            i{
                display: inline-block;
                margin-right: 15px;
                width: 30px;
                height: 30px;
                box-sizing: border-box;
                border-radius: 15px;
                border: 2px solid #fff;
                color: #fff;
                font-size: 20px;
                text-align: center;
                
            }
        }
        
        .desc{
            h1{
                padding-bottom: 30px;
            }
            .contact-close{
                margin-top: 120px;
                text-align: center;
                img{
                    width: 50px;
                }
            }
            @media (max-width: 767px){
                .contact-close{display: none;}
            }
        }
        
        .contact-form{
            padding-top: 80px;
            
            
           
            
            .form-controlz{
                width: 100%;
                background-color: transparent;
                padding: 10px 20px;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #fff;
                color: #fff;
                outline: none;
            }
            .form-controlz:focus{
                outline: 1px solid transparent;
            }
            
            .r-button{
                background-color: transparent;
                border: 1px solid #fff;
                margin-top: 20px;
                padding: 10px 15px;
            }
        }
    }
}

.photo-footer{
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    color: $text-color;
    .t-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    p{
        display: inline-block;
        padding: 0; margin: 0;
        font-size: 14px;
    }
    .social-icons{
        i{
            display: inline-block;
            margin-left: 15px;
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            border-radius: 15px;
            border: 2px solid $text-color;
            color: $text-color;
            font-size: 20px;
            text-align: center;
        }
    }
}
