.contact{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    color: #fff;
<<<<<<< HEAD
=======
    padding-bottom: 70px;
>>>>>>> 8a5f6604479510bf801cce559ed484e64a5288b0

    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .contact-div{
        padding-top: 150px;
        max-width: 900px;
        margin: 0 auto;
        
        .social-icons{
            padding-top: 20px;
            display: block;
            i{
                display: inline-block;
                margin-right: 15px;
                width: 30px;
                height: 30px;
                box-sizing: border-box;
                border-radius: 15px;
                border: 2px solid #fff;
                color: #fff;
                font-size: 20px;
                text-align: center;
                
            }
        }
        
        .desc{
            h1{
                padding-bottom: 30px;
            }
            .contact-close{
<<<<<<< HEAD
                margin-top: 150px;
=======
                margin-top: 120px;
>>>>>>> 8a5f6604479510bf801cce559ed484e64a5288b0
                text-align: center;
                img{
                    width: 50px;
                }
            }
        }
        
        .contact-form{
            padding-top: 80px;
            
            .form-control{
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                color: #fff;
            }
            
            .r-button{
                background-color: transparent;
                border: 1px solid #fff;
                margin-top: 20px;
                padding: 10px 15px;
            }
        }
    }
    
    .photo-footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        color: $text-color;
        p{
            display: inline-block;
            padding: 0; margin: 0;
            font-size: 14px;
        }
        .social-icons{
            float: right;
            i{
                display: inline-block;
                margin-left: 15px;
                width: 30px;
                height: 30px;
                box-sizing: border-box;
                border-radius: 15px;
                //                text-align: center;
                border: 2px solid $text-color;
                color: $text-color;
                font-size: 20px;
                text-align: center;
            }
        }
    }
    
}