/*
* Developed by Anthony Ngene (http://montaroweb.com)
*/
@import "partials/functions";
@import 'partials/variables';
@import 'partials/mixins';


@include google-font("Lato");
@include google-font("Courgette");
* {
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
}
body{
	font-family: $text-font;
    color: $text-color;
    font-size: $text-size;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .t-container{
        max-width: 85%;
        margin: 0 auto;
        @media (max-width: 480px){
            max-width: 100%;
            padding: 0 10px;
        }
    }
    background-color: $text-color;
}


/* Mobile Nav */
#mobile-navbar{
    display: none;
    @media (max-width: 767px){
        display: block;
    }
    background-color: transparent;
    z-index: 999;
    .navbar-collapse{
        background-color: rgba(0, 0, 0, 0.85);
        a{
            color: #fff;
        }
        a:hover{
            color: #b9b9b9;
        }
    }
    .navbar-brand{
        padding: 0;
        margin: 5px 10px;
        img{
            height: 100%;
        }
    }
    .navbar-toggle{
        margin-top: 12px;
    }
}




.clear-both{
    clear: both;
}

.hidden{
    display: none;
}

.navigation-bar, .navigation-bar-logo{
    @media (max-width: 767px){
        display: none;
    }
}

.navigation-bar{
    position: fixed;
    top: 0;
    padding: 50px 50px 0 0;
    z-index: 980;
    right: 0;
    
    ul{
        list-style: none;
        padding: 0;margin: 0;
        li{
            color: #fff;
            float: left;
            margin-left: 20px;
            margin-bottom: 10px;
            a:visited, a:link{
                color: #fff;
                padding-bottom: 10px;
                text-decoration: none;
            }
            .active-link, a:hover, a:active{
                text-decoration: none;
                border-bottom: 2px solid #fff;
            }
        }
    }
}
.navigation-bar-logo{
    position: fixed;
    top: 0;
    padding: 50px 0 0 50px;
    z-index: 999999;
    left: 0;
    img{
        width: 150px;
    }
}
@media (max-width: 500px){
    .navigation-bar-logo{
        display: none;
    }
}

@import 'partials/colorbox';
@import 'contact';
@import 'photo';