/*
* Developed by Anthony Ngene (http://montaroweb.com)
*/
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Courgette);
* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Lato", Arial, sans-serif;
  color: #222;
  font-size: 16px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #222;
}

body .t-container {
  max-width: 85%;
  margin: 0 auto;
}

@media (max-width: 480px) {
  body .t-container {
    max-width: 100%;
    padding: 0 10px;
  }
}

/* Mobile Nav */
#mobile-navbar {
  display: none;
  background-color: transparent;
  z-index: 999;
}

@media (max-width: 767px) {
  #mobile-navbar {
    display: block;
  }
}

#mobile-navbar .navbar-collapse {
  background-color: rgba(0, 0, 0, 0.85);
}

#mobile-navbar .navbar-collapse a {
  color: #fff;
}

#mobile-navbar .navbar-collapse a:hover {
  color: #b9b9b9;
}

#mobile-navbar .navbar-brand {
  padding: 0;
  margin: 5px 10px;
}

#mobile-navbar .navbar-brand img {
  height: 100%;
}

#mobile-navbar .navbar-toggle {
  margin-top: 12px;
}

.clear-both {
  clear: both;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .navigation-bar, .navigation-bar-logo {
    display: none;
  }
}

.navigation-bar {
  position: fixed;
  top: 0;
  padding: 50px 50px 0 0;
  z-index: 980;
  right: 0;
}

.navigation-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-bar ul li {
  color: #fff;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

.navigation-bar ul li a:visited, .navigation-bar ul li a:link {
  color: #fff;
  padding-bottom: 10px;
  text-decoration: none;
}

.navigation-bar ul li .active-link, .navigation-bar ul li a:hover, .navigation-bar ul li a:active {
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.navigation-bar-logo {
  position: fixed;
  top: 0;
  padding: 50px 0 0 50px;
  z-index: 999999;
  left: 0;
}

.navigation-bar-logo img {
  width: 150px;
}

@media (max-width: 500px) {
  .navigation-bar-logo {
    display: none;
  }
}

/*
Colorbox Core Style:
The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
User Style:
Change the following styles to modify the appearance of Colorbox.  They are
ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: url(../images/overlay.png) repeat 0 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding: 0;
}

#colorbox {
  outline: 0;
}

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) no-repeat -101px 0;
  display: none;
}

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) no-repeat -130px 0;
  display: none;
}

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) no-repeat -101px -29px;
  display: none;
}

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) no-repeat -130px -29px;
  display: none;
}

#cboxMiddleLeft {
  width: 21px;
  background: url(../images/controls.png) left top repeat-y;
  display: none;
}

#cboxMiddleRight {
  width: 21px;
  background: url(../images/controls.png) right top repeat-y;
  display: none;
}

#cboxTopCenter {
  height: 21px;
  background: url(../images/border.png) 0 0 repeat-x;
  display: none;
}

#cboxBottomCenter {
  height: 21px;
  background: url(../images/border.png) 0 -29px repeat-x;
  display: none;
}

#cboxContent {
  background: #fff;
  overflow: hidden;
  width: 100% !important;
  height: 100vh !important;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  width: 100% !important;
  height: 100vh !important;
  overflow: hidden !important;
}

#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
  display: none !important;
}

#cboxLoadingOverlay {
  background: url(../images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
  background: url(../images/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

#cboxPrevious {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: url(../images/arrow-left.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 100%;
  text-indent: -9999px;
  opacity: 0;
}

#cboxPrevious:hover {
  opacity: 1;
}

#cboxNext {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: url(../images/arrow-right.png) no-repeat -50px 0;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 100%;
  text-indent: -9999px;
  opacity: 0;
}

#cboxNext:hover {
  opacity: 1;
}

#cboxClose {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../images/close.png) no-repeat -50px 0;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 80%;
  text-indent: -9999px;
  opacity: 0;
}

#cboxClose:hover {
  opacity: 1;
}

.contact {
  width: 100%;
  min-height: 100%;
  color: #fff;
  padding-bottom: 70px;
  margin-bottom: -70px;
  background: no-repeat center center fixed;
  background-size: cover;
}

@media (max-width: 767px) {
  .contact {
    padding-bottom: 120px;
  }
}

.contact .contact-div {
  padding-top: 150px;
  max-width: 900px;
  margin: 0 auto;
}

.contact .contact-div .social-icons {
  padding-top: 20px;
  display: block;
}

.contact .contact-div .social-icons i {
  display: inline-block;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.contact .contact-div .desc h1 {
  padding-bottom: 30px;
}

.contact .contact-div .desc .contact-close {
  margin-top: 120px;
  text-align: center;
}

.contact .contact-div .desc .contact-close img {
  width: 50px;
}

@media (max-width: 767px) {
  .contact .contact-div .desc .contact-close {
    display: none;
  }
}

.contact .contact-div .contact-form {
  padding-top: 80px;
}

.contact .contact-div .contact-form .form-controlz {
  width: 100%;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: none;
}

.contact .contact-div .contact-form .form-controlz:focus {
  outline: 1px solid transparent;
}

.contact .contact-div .contact-form .r-button {
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 20px;
  padding: 10px 15px;
}

.photo-footer {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  color: #222;
}

.photo-footer .t-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.photo-footer p {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.photo-footer .social-icons i {
  display: inline-block;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #222;
  color: #222;
  font-size: 20px;
  text-align: center;
}

.photo {
  width: 100%;
  min-height: 100%;
  color: #fff;
  padding-bottom: 70px;
  margin-bottom: -165px;
  background: no-repeat center center fixed;
  background-size: cover;
}

@media (max-width: 767px) {
  .photo {
    padding-bottom: 150px;
  }
}

.photo-wrap {
  width: 100%;
}

@media (min-width: 1000px) {
  .photo-wrap {
    height: 150px;
  }
}

.photo-desc {
  padding-bottom: 25px;
  color: #fff;
}

@media (min-width: 768px) {
  .photo-desc .exif-info {
    text-align: right;
  }
}

.photo-desc h2 {
  margin: 0;
  padding-bottom: 10px;
  color: #fff;
}

.photo-desc p {
  padding: 0;
  margin: 0;
}

.photo-desc p i {
  padding-left: 20px;
  padding-right: 8px;
  font-size: 18px;
}

.photo-desc p i:first-child {
  padding-left: 0;
}

#boxPrev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: url(../images/arrow-left.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 100%;
  text-indent: -9999px;
  opacity: 0;
}

#boxPrev:hover {
  opacity: 1;
}

#boxNext {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: url(../images/arrow-right.png) no-repeat -50px 0;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 100%;
  text-indent: -9999px;
  opacity: 0;
}

#boxNext:hover {
  opacity: 1;
}

#boxClose {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../images/close.png) no-repeat -50px 0;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 80%;
  text-indent: -9999px;
  opacity: 0;
}

#boxClose:hover {
  opacity: 1;
}
